<%= render 'layouts/jumbotron' %>

<!-- CONTEXT -->
<div id="context" class="container">
  <div class="section-title">
    <h2>Contexte</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
  </div>
</div>

<!-- BENEFITS -->

<div class="container-fluid bg-primary">
  <div id="benefits">
    <div class="title">
        <h2 class="title-color">Avantages de PointBudget</h2>
    </div>
    <div class="content">
      <div class="row d-flex justify-content-around">
        <div class="col-xs-4 col-md-3 icon-position">
          <div class="icon-position"></div>
          <span class="icon text-secondary icon"><i class="fas fa-balance-scale"></i></span>
          <h3 class="title-color">Un vrai comparateur</h3>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="col-xs-4 col-md-3 icon-position">
          <span class="icon text-secondary icon"><i class="fas fa-clipboard-list"></i></span>
          <h3 class="title-color">Des propositions</h3>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
        </div>
        <div class="col-xs-4 col-md-3 icon-position">
          <span class="icon text-secondary icon"><i class="fas fa-info-circle"></i></span>
          <h3 class="title-color">Un accompagnement</h3>
          <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TIMELINE -->

<div id="steps" class="container">   

  <div class="title">
      <h2>PointBudget en 3 étapes</h2>
  </div>                                                     
  <div class="timeline timeline-one">

  <!-- Timeline Item 1 -->

      <div class="timeline-item">
          <span class="icon text-secondary"><i class="fas fa-sign-in-alt"></i></i>
          </span>
          <h5 class="my-3">S'inscrire</h5>
          <p>Rien de plus simple!<br> Vous trouverez un espace de connexion dans la barre de navigation, à droite.<br><br>Ou suivre tout simplement ces liens!</p>
          <%= link_to "Je crée mon compte", new_user_registration_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
          <%= link_to "Je me connecte", new_user_session_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
      </div>

  <!-- Timeline Item 2 -->

  <div class="timeline-item">
          <span class="icon text-primary"><i class="fas fa-chalkboard"></i></span>
          <h5 class="my-3">Accès à votre Dashboard personnel</h5>
      <p>Afin de vous accompagner au mieux et vous donner un maximum d'autonomie de gestion, vous aurez directement accès à votre espace personnel après votre connexion.</p>
      <p>Vous aurez la possibilité:</p>
      <ul>
        <li>
          <p>De modifier votre profil.</p>
        </li>
        <li>
          <p>D'accéder à vos simulations en cours ou terminées.</p>
        </li>
        <li>
          <p>Et surtout de lancer une nouvelle simulation afin de faire le point sur vos dépenses mensuelles.</p>
        </li>
      </ul>
  </div>

  <!-- Timeline Item 3 -->

  <div class="timeline-item">
          <span class="icon text-secondary"><i class="fas fa-calculator"></i></span>
      <h5 class="my-3">Lancer une simulation</h5>
      <p>La partie la plus facile.</p>
      <p>Selon vos besoins, il suffira de remplir nos formulaires concernant les domaines: </p>
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="col-md-7">
          </div>
          <div class="col-md-5">
            <ul>
              <li>
                <p>De l'assurance.</p>
              </li>
              <li>
                <p>Banquaire.</p>
              </li>
              <li>
                <p>Energetique.</p>
              </li>
              <li>
                <p>Numérique.</p>
              </li>
              <li>
                <p>Des mutuelles.</p>
              </li> 
            </ul>
          </div>
        </div>
      </div>
      <p>Afin de gagner du temps, munissez-vous d'un maximum de vos contrats ou factures</p>
      <p>Prêt... Feu.... Simuler!</p>
      <%= link_to "Je crée mon compte", new_user_registration_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
      <%= link_to "Je me connecte", new_user_session_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
  </div>
</div>
                                                        
                                                    

