<main>
  <div class="container px-4">
    <div class="title-context">
      <h2>Politique de Confidentialité</h2>
    </div>
    <div class="content">
      <h5>Introduction</h5><br>
      <p class="lead text-justify">Chez LeLynx.fr nous nous engageons à protéger vos données personnelles, en les traitant avec respect et en tenant compte de leur protection dès la conception de nos produits et services.<br><br>
      Cette politique de confidentialité a pour objectif de vous aider à bien comprendre la manière dont nous collectons, utilisons et protégeons vos données personnelles.<br><br>
      En fournissant vos données personnelles à LeLynx.fr, vous consentez à leur utilisation telle que décrite ci-après. Lorsque vous nous fournissez les données personnelles de personnes tierces, vous confirmez que vous avez au préalable obtenu leur consentement.</p><br><br>
    </div>
    <div class="content">
      <h5>Qui sommes-nous ?</h5><br>
      <p class="lead text-justify">LeLynx.fr est le nom commercial du responsable de traitement Lelynx, société immatriculée à l’ORIAS sous le numéro 18007080.<br><br>
      LeLynx.fr est le responsable de traitement des données personnelles vous concernant et collectées notamment via notre site internet. Cela signifie que LeLynx.fr est responsable de la manière dont sont traitées vos données.</p><br><br>
    </div>
    <div class="content">
      <h5>Autres responsables de traitement</h5><br>
      <p class="lead text-justify">Pour nos services de comparaison d’assurance auto, moto, habitation, mutuelle santé, mutuelle entreprise, énergie<br><br>
      Afin de vous présenter des devis d’assurance, de mutuelle et d’énergie, LeLynx.fr envoie vos données personnelles collectées aux assureurs partenaires ou fournisseurs d’énergie qui proposent des devis sur notre site internet.<br><br>
      Lorsque ces assureurs ou fournisseurs d’énergie utilisent vos données personnelles pour générer un devis, chacun d’entre eux est responsable du traitement des données personnelles reçues. Cela signifie que l’assureur/le fournisseur d’énergie est responsable de la manière dont il traite ces données.<br><br>
      Si vous lui fournissez des données supplémentaires via son site internet ou si vous décidez de faire appel à ses services, l’utilisation de vos données sera soumise à la politique de confidentialité propre à l’assureur/au fournisseur d’énergie et que vous pourrez trouver sur son site internet.<br><br>
      La liste des partenaires de LeLynx.fr est disponible ici :<%= link_to 'https://www.lelynx.fr/partenaires/', "https://www.lelynx.fr/partenaires/", :target => "_blank" %> pour nos partenaires assureurs et <%= link_to 'https://www.lelynx.fr/energie/partenaires/', "https://www.lelynx.fr/energie/partenaires/", :target => "_blank" %> pour nos partenaires fournisseurs d’énergie.<br><br>
      <strong>Pour nos services de comparaison d’autres assurances</strong> (chien chat, emprunteur, voyage, obsèques, etc.), <strong>autres assurances professionnelles </strong>(responsabilité civile, assurance multirisque et garantie décennale) et <strong>produits financiers </strong>(banque, rachat de crédit, crédit immobilier, etc.)<br><br>
      Ces services de comparaison d’assurance et de produits financiers sont fournis par les partenaires ci-dessous</p>
      <ul>
        <li class="lead"><%= link_to 'https://www.lelynx.fr/partenaires/', "https://www.lelynx.fr/partenaires/", :target => "_blank" %> pour les produits d’assurances</li>
        <li class="lead">Panorabanques, Empruntis, Comparadise, Edilead pour les produits financiers</li>
        <li class="lead">AWP France SAS pour l’assurance voyage : <%= link_to 'https://www.allianz-voyage.fr/CDPSD/', "https://www.allianz-voyage.fr/CDPSD/", :target => "_blank"%> </li>
      </ul><br>
      <p class="lead text-justify">Ces partenaires seront également responsables du traitement des données que vous leur communiquez dans le cadre de l’utilisation de leurs services. Ils partageront vos données à caractère personnel avec leurs assureurs et banques partenaires afin de vous proposer un devis.<br><br>
      <strong>Pour nos services de comparaison d’offres d’accès à internet</strong><br><br>
      Ces services de comparaison d’offres d’accès à internet sont fournis par les partenaires ci-dessous :</p>
      <ul>
        <li class="lead">BeMove pour les offres d’accès à internet :<%= link_to 'https://telecom.bemove.fr/le-lynx/politique-confidentialite', "https://telecom.bemove.fr/le-lynx/politique-confidentialite", :target => "_blank"%> </li>
      </ul><br>
      <p class="lead text-justify">Ces partenaires seront également responsables du traitement des données que vous leur communiquez dans le cadre de l’utilisation de leurs services. Ils partageront vos données à caractère personnel avec leurs assureurs et banques partenaires afin de vous proposer un devis.</p>
    </div>
    <div class="content">
      <h5>Les données collectées par LeLynx.fr</h5><br>
      <p class="lead text-justify">Nous collectons des données personnelles dans le cadre des services que nous vous proposons. Afin d’améliorer nos services et notre formation, mais aussi afin de respecter nos obligations légales, les emails, les SMS et tout autre échange entre vous et LeLynx.fr sont susceptibles d’être contrôlés et/ou conservés.<br><br>
    </div>

  </div>

</main>