<main>
  <div class="container px-4">
    <div class="title-context">
      <h2>Politique de Confidentialité</h2>
    </div>
    <div class="content">
      <p class="text-justify">Voir aussi :</p>
      <ul>
        <li><%= link_to 'Politique sur les avis en ligne ', {:anchor => "online_policy"} %></li>
        <li><%= link_to 'Politique d\'utilisation des cookies', {:anchor => "cookies_policy"} %></li>
      </ul><br>
      
      <h5>Introduction</h5><br>
      <p class="lead text-justify">Chez Pointbudget.com nous nous engageons à protéger vos données personnelles, en les traitant avec respect et en tenant compte de leur protection dès la conception de nos produits et services.<br><br>
      Cette politique de confidentialité a pour objectif de vous aider à bien comprendre la manière dont nous collectons, utilisons et protégeons vos données personnelles.<br><br>
      En fournissant vos données personnelles à Pointbudget.com, vous consentez à leur utilisation telle que décrite ci-après. Lorsque vous nous fournissez les données personnelles de personnes tierces, vous confirmez que vous avez au préalable obtenu leur consentement.</p><br><br>
    </div>
    <div class="content">
      <h5>Qui sommes-nous ?</h5><br>
      <p class="lead text-justify"><br><br>
      Pointbudget.com est le responsable de traitement des données personnelles vous concernant et collectées notamment via notre site internet. Cela signifie que Pointbudget.com est responsable de la manière dont sont traitées vos données.</p><br><br>
    </div>
    <div class="content">
      <h5>Les données collectées par Pointbudget.com</h5><br><br>
      <p class="lead text-justify">Nous collectons des données personnelles dans le cadre des services que nous vous proposons. Afin d’améliorer nos services et notre formation, mais aussi afin de respecter nos obligations légales, les emails, les SMS et tout autre échange entre vous et Pointbudget.com sont susceptibles d’être contrôlés et/ou conservés.<br><br>
      <strong>Auprès de vous</strong><br>
      La majorité des données personnelles que nous traitons provient directement des données renseignées par l’utilisateur de Pointbudget.com lors de la demande de devis. Les données collectées sont nécessaires à l’obtention des devis et des informations de comparaison.<br><br>
      Voici des exemples de données personnelles que Pointbudget.com peut recueillir lorsque vous complétez un de nos formulaires de comparaison :</p>
      <ul>
        <li class="lead">Nom</li>
        <li class="lead">Prénom</li>
        <li class="lead">Adresse postale</li>
        <li class="lead">Adresse email</li>
        <li class="lead">Numéro de téléphone</li>
        <li class="lead">Genre</li>
        <li class="lead">Date de naissance</li>
        <li class="lead">Situation maritale</li>
        <li class="lead">Profession</li>
      </ul><br>
      <p class="lead"><strong>Auprès de nos partenaires</strong></p>
      <p class="lead text-justify">Pointbudget.com obtient également des données personnelles vous concernant de la part des partenaires de notre panel, par exemple si vous souscrivez un contrat auprès d’eux via notre site internet.<br><br>
      <strong>A partir de votre usage du site internet et nos services</strong><br>
      Nous collectons des données vous concernant en fonction de vos actions, par exemple la façon dont vous utilisez notre site web ou nos services. Cela nous permet notamment de vous fournir un service adapté à vos besoins et d’améliorer la qualité de nos produits.<br><br>
      Pointbudget.com et ses partenaires collectent certaines de ces données en utilisant les cookies, les balises web et les pixels sur notre site internet. Nous utilisons Google Analytics qui est un service d’analyse des données de navigation fourni par Google, Inc. pour mieux connaître l’utilisation que les internautes font de notre site. Pour en savoir plus sur les cookies et Google Analytics, vous pouvez consulter notre Politique d’utilisation des cookies.<!--Inserer lien vers le bas--><br><br>
      <strong>Auprès de nos partenaires</strong><br>
      Pointbudget.com peut être amené à travailler avec des sous-traitants qui peuvent traiter des informations personnelles pour notre compte, par exemple des prestataires informatiques ou des agences d’études de marché. Lorsque nous faisons appel à des sous-traitants, ces derniers sont contractuellement soumis aux mêmes obligations que Pointbudget.com en matière de confidentialité et de sécurité, et traiteront vos données uniquement sur instruction de notre part.<br><br>
      <strong>Par l’intermédiaire de nos sous-traitants</strong><br>
      Pointbudget.com peut être amené à travailler avec des sous-traitants qui peuvent traiter des informations personnelles pour notre compte, par exemple des prestataires informatiques ou des agences d’études de marché. Lorsque nous faisons appel à des sous-traitants, ces derniers sont contractuellement soumis aux mêmes obligations que Pointbudget.com en matière de confidentialité et de sécurité, et traiteront vos données uniquement sur instruction de notre part.
      </p><br><br>
    </div>
    <div class="content">
      <h5>A quel moment Pointbudget.com collecte vos données personnelles ?</h5><br>
      <p class="lead text-justify">Pointbudget.com collecte vos données à caractère personnel notamment lorsque :</p>
      <ul>
        <li class="lead">Vous effectuez une demande de devis sur notre site ;</li>
        <li class="lead">Vous naviguez sur nos sites, consultez des produits et utilisez nos services ;</li>
        <li class="lead">Vous contactez notre service client ;</li>
        <li class="lead">Vous créez ou modifiez votre compte client ou compte utilisateur dans votre espace personnel sur notre site ;</li>
        <li class="lead">Vous demandez à obtenir des informations ou d’autres services ;</li>
        <li class="lead">Vous répondez à des messages ou à des sondages ;</li>
        <li class="lead">Vous participez à un jeu ou un concours.</li>
        <li class="lead">Situation maritale</li>
        <li class="lead">Profession</li>
      </ul><br>
      <p class="lead text-justify">Certaines informations, notamment techniques ou concernant la consultation du site ainsi que ses fonctionnalités, sont collectées automatiquement par des cookies du fait de vos actions sur le site Pointbudget.com.</p>
    </div>
    <div class="content">
      <h5>Comment Pointbudget.com utilise vos données personnelles ?</h5><br>
      <p class="lead text-justify">En fonction de leur finalité, les traitements de données personnelles effectués par Pointbudget.com peuvent répondre à une nécessité contractuelle ou précontractuelle, au respect d’une obligation légale, ou aux fins des intérêts légitimes poursuivis par Pointbudget.com. Dans certains cas nous pouvons utiliser les données à d’autres fins, si vous y avez consenti, auquel cas vous pourrez à tout moment retirer votre consentement.<br>
      Nous utilisons vos données personnelles essentiellement :<br>
      <strong>Dans le cadre de la fourniture de nos services :</strong>
      </p>
      <ul>
        <li class="lead">Pour le traitement de vos devis ;</li>
        <li class="lead">Pour la mise à disposition d’offres personnalisées ;</li>
        <li class="lead">Pour la création et la gestion de votre espace personnel ;</li>
        <li class="lead">Pour communiquer avec vous à propos de nos services, par exemple lorsque vous nous contactez par chat ou lorsque nous vous envoyons des confirmations par email à propos de vos devis ou les détails de votre compte. Lorsque vous obtenez un devis par notre biais, vous recevez automatiquement une confirmation de votre devis par email afin que vous puissiez garder une trace de ce devis et facilement le retrouver à l’avenir ;</li>
      </ul><br>
      <p class="lead text-justify">L’ensemble des données collectées sur le formulaire est obligatoire. En leur absence, la comparaison d’offres ne pourra être effectuée et l’espace personnel ne pourra être créé.<br><br>
      <strong>Pour vous présenter des offres commerciales et gérer vos préférences :</strong>
      </p>
      <ul>
        <li class="lead">•	Nous pouvons utiliser vos données personnelles pour vous faire part de nos offres promotionnelles et de nos nouveaux produits et services par email, SMS, ou sur les réseaux sociaux, lorsque nous sommes légalement en mesure de le faire et que vous ne vous y êtes pas opposé.</li>
        <li class="lead">•	Pointbudget.com dispose d’offres variées et il est possible que nous vous envoyions occasionnellement des informations ou promotions susceptibles de vous intéresser ou de vous être utiles.</li>
        <li class="lead">•	Si vous en avez fait la demande lors du formulaire de comparaison, vous recevrez également notre newsletter.</li>
        <li class="lead">•	Si vous avez effectué un devis sur notre site web, ou si votre contrat est sur le point d’être renouvelé, nous pouvons être amenés à vous contacter par téléphone dans une démarche qualité afin de mesurer votre satisfaction et de discuter de vos besoins. Si vous ne souhaitez pas être contacté de cette manière, vous pouvez l’indiquer à l’agent ou nous écrire à  <%=mail_to "poinbudget@hotmail.com"%> </li>
      </ul><br>
      <p class="lead text-justify">Si vous ne souhaitez pas ou plus recevoir ces communications, vous pouvez cliquer sur le lien de désinscription automatique en bas de chaque email ou newsletter, envoyer un message STOP en cas de SMS ou bien nous écrire à <%=mail_to "poinbudget@hotmail.com"%> ou à Service Client Pointbudget.com, 34 quai de la Loire, 75019 Paris.<br>
      Cela n’aura pas d’impact sur les communications liées à votre devis ou votre compte, comme par exemple la confirmation de votre devis ou les détails de votre compte, ou sur les communications nécessaires pour tout autre service dont vous auriez fait la demande.
      </p>
      <ul>
        <li class="lead">Lorsque vous renseignez vos données personnelles, Pointbudget.com vous propose également d’être mis en relation avec des partenaires, tel que Matmut, proposant d’autres offres d’assurance. Si vous y consentez, nous leur transmettrons votre adresse email et votre numéro de téléphone afin qu’ils puissent vous contacter par téléphone. Si vous changez d’avis et ne souhaitez plus que ces partenaires vous contactent, vous pouvez écrire à <%=mail_to "poinbudget@hotmail.com"%> ou  <%=mail_to "poinbudget@hotmail.com"%> et, le cas échéant, nous communiquerons aux partenaires concernés votre opposition à ce qu’ils utilisent vos données personnelles à des fins de prospection commerciale.</li>
        <li class="lead">Pointbudget.com fait également de la publicité en ligne afin de vous tenir informé de nos activités et nouveaux produits ou services et pour vous faciliter l’accès à nos services. Comme c’est le cas pour beaucoup d’autres entreprises, lorsque vous naviguez sur d’autres sites web ou applications, vous pourrez trouver des bannières et des publicités en ligne de Pointbudget.com. Pour cela, nous utilisons divers outils de marketing digital et d’échanges d’annonces publicitaires, et nous utilisons également une gamme de technologies liées à la publicité telles que les balises, les pixels, les vignettes publicitaires, les cookies, et identificateurs de dispositif, ainsi que des services spécifiques offerts par certains sites et réseaux sociaux, comme l’utilisation des audiences personnalisées de Facebook. Pour en savoir plus, vous pouvez consulter notre Politique d’utilisation des cookies.</li>
      </ul><br>
      <p class="lead text-justify">
      <strong>Dans le cadre d’études de marché et d’enquêtes de satisfaction</strong>
      </p>
      <ul>
        <li class="lead">Pointbudget.com peut vous contacter directement ou indirectement de manière ponctuelle dans le cadre d’enquêtes de satisfaction dans un souci de développement et d’améliorations de nos services. Les données personnelles traitées peuvent inclure votre nom, votre âge ainsi que votre adresse email (liste non exhaustive). Il nous arrive aussi de faire appel à des prestataires tels que Kameleoon ou Avis Vérifiés afin de collecter votre avis sur votre parcours client, de manière anonyme.</li>
        <li class="lead">Toutes les informations recueillies par Pointbudget.com lors d’enquêtes de satisfaction sont uniquement traitées à des fins de suivi de la qualité et de l’amélioration de nos services.</li>
      </ul><br>
      <p class="lead text-justify">
      <strong>A des fins d’intérêts légitimes</strong><br>
      Il arrive que le traitement de vos données à caractère personnel soit nécessaire à des fins d’intérêts légitimes poursuivis par Pointbudget.com. Il peut s’agir de fins commerciales ou sociales. Dans ce cas, Pointbudget.com s’assure toujours de respecter un juste équilibre entre nos intérêts et les vôtres, compte tenu de vos attentes raisonnables et de votre relation avec notre entreprise.<br><br>
      A titre d’exemple, Pointbudget.com se base sur l’intérêt légitime pour les traitements suivants :
      </p>
      <ul>
        <li class="lead">Certaines de nos activités liées au marketing ;</li>
        <li class="lead">Toutes activités liées à la recherche et l’analyse, nous permettant de passer en revue, développer et améliorer les services que nous vous offrons, y compris nos activités de reporting interne ;</li>
        <li class="lead">L’échange de données avec des partenaires de choix afin d’apporter une valeur ajoutée à nos produits ;</li>
        <li class="lead">Le contrôle de qualité et la formation ;</li>
        <li class="lead">La prévention de l’usage non autorisé de nos systèmes de télécommunication et sites internet ;</li>
        <li class="lead">Assurer le bon fonctionnement de nos opérations.</li>
      </ul><br>
      <p class="lead text-justify">
      <strong>Dans le cadre d’une candidature</strong><br>
      Si vous avez postulé à une offre d’emploi de Pointbudget.com via notre site internet ou un site de recherche d’emploi, vos données ou CV font l’objet d’un traitement informatique destinée à la gestion administrative de votre candidature.<br><br>
      </p>
    </div>
    <div class="content">
      <h5>Confidentialité et divulgations de vos données</h5><br>
      <p class="lead text-justify">Pointbudget.com s’efforce de traiter vos données personnelles de manière privée et confidentielle. Il nous arrive de faire appel à des prestataires susceptibles de prendre part au traitement de vos données personnelles. Ces derniers sont soumis à la même obligation de confidentialité et de sécurité et traiteront vos données uniquement sur instruction de notre part.<br><br>
      En dehors de Pointbudget.com et des autres responsables du traitement mentionnés ci-dessus, les données collectées sont susceptibles d’être communiquées à d’autres entités, par exemple :</p>
      <ul>
        <li class="lead">En cas de saisie du Médiateur ou de l’autorité compétente suite à une réclamation, nous pourrions être amenés à lui fournir des informations personnelles vous concernant.</li>
        <li class="lead">Dans le cas où Pointbudget.com venait à subir une réorganisation ou ferait l’objet d’une vente à une autre organisation, auquel cas vous acceptez que toutes données personnelles détenues par notre entreprise soient transférées à l’organisation désormais compétente.</li>
        <li class="lead">Pointbudget.com pourrait divulguer vos données dans certains cas exceptionnels autorisés par la loi, par exemple lorsque nous y sommes contraints par la loi ou par une autre voie judicaire, ou lorsque vous en avez fait la demande ou que vous avez donné votre consentement.</li>
      </ul><br>
      <p class="lead text-justify">Certaines informations, notamment techniques ou concernant la consultation du site ainsi que ses fonctionnalités, sont collectées automatiquement par des cookies du fait de vos actions sur le site Pointbudget.com.</p>
    </div><br>
    <div class="content">
      <h5>Quels sont vos droits concernant vos données personnelles ?</h5><br>
      <p class="lead text-justify">Conformément aux articles 12 à 22 du Règlement (UE) 2016/679 (RGPD), vous disposez de droits en tant que personne concernée, notamment d’accès, de rectification, d’opposition, d’effacement, de limitation du traitement et de portabilité de vos données personnelles.<br><br>
      Veuillez-noter que ces droits ne s’appliquent pas en toutes circonstances.<br><br>
      Vos droits en tant que personne concernée, lorsqu’ils sont applicables, comprennent :</p>
      <ul>
        <li class="lead">le droit à être informé des traitements de vos données à caractère personnel, et notamment le type de données collectées, les finalités du traitement et le responsable du traitement ; </li>
        <li class="lead">le droit d’accès aux données personnelles vous concernant. Si votre demande concerne les données personnelles de quelqu’un d’autre, ou que vous faites une demande au nom de quelqu’un d’autre (par exemple au nom de votre enfant mineur), nous pourrions vous demander une copie de la pièce d’identité de cette personne ainsi qu’une lettre d’autorisation signée de sa part ;</li>
        <li class="lead">le droit de rectifications de vos données à caractère personnel si elles sont inexactes ou incomplètes ;</li>
        <li class="lead">le droit à l’effacement de vos données à caractère personnel (« droit à l’oubli ») ;</li>
        <li class="lead">le droit à la limitation du traitement des données personnelles vous concernant ;</li>
        <li class="lead">le droit à la portabilité des données personnelles vous concernant. Il s’agit du droit de recevoir vos données dans un format structuré, couramment utilisé et lisible par machine, afin notamment de les transmettre à un autre responsable du traitement ;</li>
        <li class="lead">le droit d’opposition au traitement des données personnelles vous concernant ;</li>
        <li class="lead">le droit de ne pas faire l’objet d’une décision fondée exclusivement sur un traitement automatisé, y compris le profilage, produisant des effets juridiques vous concernant ou vous affectant de manière significative de façon similaire.</li>
      </ul><br>
      <p class="lead text-justify">Vous pouvez exercer ces droits en vous adressant à : <%=mail_to "poinbudget@hotmail.com"%> ou en nous écrivant : Pointbudget.com 10 rue Jules Blaizet à CHENOVE 21300. Pour exercer vos droits d’accès et de rectification, vous devez pouvoir justifier de votre identité. Il est rappelé que le site Pointbudget.com dispose d’un délai légal d’un mois suivant réception de la demande pour y répondre (délai qui pourra être prolongé de deux mois, le cas échéant, compte tenu de la complexité et du nombre de demandes). Toutefois, nos équipes mettent tout en œuvre pour respecter un délai maximum de 15 jours ouvrés suite à la réception de votre demande.<br><br>
      Si vous n’êtes pas satisfait par la suite donnée à votre demande, vous pouvez introduire une plainte auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL), l’autorité compétente en France.<br>
      Soit en ligne : <%= link_to 'https://www.cnil.fr/fr/plaintes', "https://www.cnil.fr/fr/plaintes" %> .<br>
      Soit en écrivant à l’adresse suivante : CNIL – 3 place de Fontenoy – TSA 80715, 75334 Paris Cedex 07<br><br>
      Conformément à la loi 2014-344 du 17 mars 2014 relative à la consommation, vous disposez également d’un droit d’opposition au démarchage téléphonique en vous inscrivant gratuitement sur la liste d’opposition Bloctel. Toutefois, il est rappelé que dans le cadre de l’utilisation de nos services, vous serez éventuellement amené à demander à être rappelé par nos partenaires. Dans ce cas, il s’agira d’un consentement libre et non équivoque, et le dispositif Bloctel ne pourra s’appliquer.<br><br>
      </p>
    </div>
    <div class="content">
      <h5>Conservations des données</h5><br>
      <p class="lead text-justify">Pointbudget.com s’engage à conserver vos données personnelles pour une durée n’excédant pas celle nécessaire aux finalités pour lesquelles elles sont traitées.<br><br>
      Ces durées de conservation sont définies en fonction des finalités de traitement mis en œuvre et tiennent notamment compte des dispositions légales applicables imposant une durée de conservation précise pour certaines catégories de données, des éventuels délais de prescription applicables ainsi que des recommandations de la CNIL.</p>
    </div><br>
    <div class="content">
      <h5>Sécurité</h5><br>
      <p class="lead text-justify">Pointbudget.com attache une grande importance à la sécurité de vos données. Pour cela, nous mettons en œuvre toutes les mesures techniques et organisationnelles nécessaires à la protection de vos données personnelles contre la destruction, la perte, la modification, l’accès ou le traitement non autorisé. Pointbudget.com s’engage, en outre, à limiter l’accès aux données personnelles aux situations dans lesquelles cet accès est indispensable. Les employés ayant accès à ces données ont été informés de leurs obligations en matière de protection des données. Ces mesures de sécurité sont régulièrement revues et adaptées afin d’assurer un niveau de protection adéquate.<br><br>
      Lorsque Pointbudget.com interroge les sites de nos partenaires, nous utilisons la technologie SSL de sécurisation des échanges sur Internet. Cela signifie que toutes vos données et les informations échangées sont cryptées avant d’être transmises aux partenaires.<br><br>
      <strong>Transferts en dehors de l’EEE</strong><br>
      Il peut être nécessaire de transférer vos données personnelles vers d’autres sociétés ou prestataires de service du Groupe Admiral situés en dehors de l’Espace économique européen (EEE), notamment à nos équipes techniques situées en Inde. Les lois sur la protection des données personnelles et autres lois de ces pays peuvent être moins complètes que celles mises en œuvre dans en France ou dans l’EEE – dans ce cas précis, nous prendrons des mesures adéquates pour garantir à vos données un niveau de service équivalent à celui existant dans l’EEE.<br><br>
      <strong>L’espace personnel</strong><br>
      La création d’un espace personnel s’effectue lors du premier accès aux services de comparaison d’assurance automobile, santé, habitation, moto ou énergie.<br><br>
      L’utilisateur reçoit par la suite un lien d’activation de l’espace personnel et doit créer son mot de passe, à l’adresse email qu’il a renseigné au sein du formulaire. Il incombe à l’utilisateur de s’assurer, que l’adresse email renseignée est valide et qu’il a seul accès au courrier électronique comportant le lien d’activation. Les codes d’accès sont personnels et confidentiels. A ce titre, l’utilisateur est seul responsable de la préservation et de la confidentialité de son mot de passe et, par conséquent, des conséquences d’une divulgation involontaire à quiconque.<br><br>
      Toute utilisation de l’espace personnel suite à son activation par l’utilisateur est présumée comme émanant exclusivement de l’utilisateur.<br><br>
      L’utilisateur a l’obligation de nous notifier sans délai toute compromission de la confidentialité de son mot de passe ou toute utilisation par un tiers dont il aurait connaissance, en envoyant un email à l’adresse <%= mail_to "poinbudget@hotmail.com"%><br><br>
      En cas de perte, d’oubli et/ou de suspicion d’utilisation frauduleuse de son mot de passe, l’utilisateur a la possibilité de solliciter la création d’un nouveau mot de passe par l’intermédiaire du lien « Mot de passe oublié ? ».<br><br>
      <strong>La sécurité du site</strong><br>
      Lorsque vous nous demandez d’établir un devis, Pointbudget.com traite vos données sur un serveur sécurisé. Microsoft Internet Explorer et Netscape Navigator confirment que vous êtes dans un espace sécurisé en affichant une clé ou un cadenas en bas à droite de la fenêtre de votre navigateur.<br><br>
      Certaines entreprises disposent de procédés de sécurisation appelés Pare-feu ou Firewall pour protéger leur système informatique. Ces pare-feu peuvent vous empêcher de vous connecter à notre serveur pour faire un devis. Si vous êtes au bureau et que vous n’arrivez pas à vous connecter à notre site, contactez votre informaticien pour en savoir plus.<br><br>
      <strong>La sécurité sur les sites de nos partenaires</strong><br>
      Nous ne sommes pas responsables de la sécurisation des sites de nos partenaires. Vous pouvez accéder aux sites de nos partenaires à partir des liens présents sur Pointbudget.com. Nous vous recommandons néanmoins de vous informer sur leurs règles en vigueur en matière de sécurité. À chaque fois que cela a été possible, nous avons établi un accord avec nos partenaires afin qu’ils utilisent la technologie SSL d’encryptage des données et qu’ils exigent le même niveau de sécurité que Pointbudget.com.<br>
      </p>
    </div><br>
    <div class="content">
      <h5>Mise à jour de la Politique de Confidentialité</h5><br>
      <p class="lead text-justify">Cette politique de confidentialité a été mise à jour le 23 juillet 2019.<br><br>
      Nous pouvons être amenés à la modifier occasionnellement, auquel cas, nous vous en informerons, en particulier si nous estimons qu’il s’agit d’un changement important. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité et de protection des données à caractère personnel.</p>
    </div><br><br>
    <div class="title-context">
      <h2 id="online_policy">Politique sur les avis en ligne</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">
      En application du Décret n° 2017-1436 du 29 septembre 2017 relatif aux obligations d’information relatives aux avis en ligne de consommateurs, nous vous informons que :<br>
      <strong>Sur l’existence ou non de contrepartie fournie en échange du dépôt d’avis</strong>, aucune contrepartie n’est fournie.<br><br>
      <strong>Sur le délai maximum de publication et de conservation d’un avis</strong>, nous n’avons pas de délai maximum de publication des avis.
      Nos avis étant contrôlés, nous vous informons que les traitements de données à caractère personnel réalisés dans ce cadre sont conformes au Règlement Général sur la Protection des Données.<br><br>
      Dans le cas spécifique de la page d’accueil, des pages de présentation des assurances, des fournisseurs d’énergie et des pages de rendu de prix, les avis proposés sont collectés manuellement sur les plateformes des partenaires puis, contrôlés et modérés selon des critères subjectifs visant à apporter une information neutre et pertinente.<br><br>
      <strong>Sur la possibilité, le cas échéant, de contacter le consommateur auteur de l’avis</strong>, les auteurs des avis publiés ne peuvent être contactés par les autres utilisateurs du service.<br><br>
      <strong>Sur la possibilité ou non de modifier un avis et, le cas échéant, les modalités de modification de l’avis</strong>, les avis une fois publié ne sont pas modifiables par leurs auteurs.<br><br>
      <strong>Sur les motifs justifiant un refus de publication de l’avis</strong>, seuls les avis concernant en réalité une autre marque ou portant des propos injurieux sont refusés par notre partenaire Avis Vérifiés.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h2 id="cookies_policy">Politique d’utilisation des cookies</h2>
    </div>
    <div class="content">
      <h5>Qu’est-ce qu’un cookie et à quoi servent-ils ?</h5>
      <p class="lead text-justify">
      Les cookies sont des fichiers texte déposés sur votre ordinateur, votre mobile ou votre tablette.<br><br>
      Les cookies ne sont pas malveillants puisque ce ne sont ni des programmes, ni des virus et ils ne peuvent donc pas endommager votre ordinateur. Ils ont pour but de collecter des informations relatives à votre navigation, et de vous adresser des services adaptés à votre terminal.<br><br></p>
      <h5>Quels sont les différents types de cookie ?</h5>
      <h6>Les cookies techniques</h6>
      <p class="lead text-justify">Nécessaires au bon fonctionnement du site Pointbudget.com, ils permettent notamment de vous identifier comme un seul et même internaute. Ainsi, vous pouvez bénéficier de fonctionnalités très pratiques comme :
      </p>
      <ul>
        <li class="lead">Vous rappeler vos derniers tarifs d’assurance obtenus sur le site</li>
        <li class="lead">Vous permettre de pré-remplir le formulaire avec les données saisies dans la dernière demi-heure</li>
        <li class="lead">Vous connecter directement à votre espace personnel</li>
      </ul><br>
      <h6>Les cookies de mesure de performance</h6>
      <p class="lead text-justify">Ces cookies recueillent de manière anonyme des informations lors de vos visites sur Pointbudget.com. Leur objectif est de permettre l’analyse des comportements de navigation sur le site à des fins d’optimisation.
      </p>
      <h6>Les cookies publicitaires</h6>
      <p class="lead text-justify">Les cookies publicitaires utilisés sur notre site sont soit des cookies utilisés directement par Pointbudget.com, soit des cookies utilisés par nos partenaires (régies publicitaires notamment). Ils permettent d’identifier vos préférences au travers des produits et services consultés sur notre site, et de vous présenter des publicités qui pourront vous intéresser. Les cookies publicitaires sont ainsi utilisés pour limiter le nombre de fois où vous voyez une publicité, et nous permettent de mesurer l’efficacité d’une campagne publicitaire.<br><br>
      Les données de navigation collectées au moyen de ces cookies tiers sont ensuite utilisées par les régies publicitaires qui agissent pour leur propre compte. Nous veillons à ce que ces sociétés traitent les données collectées sur notre site Pointbudget.com dans le respect de la loi « Informatique, fichiers et libertés » du 6 janvier 1978 en s’engageant à sécuriser et garder confidentielles les données traitées.<br><br>
      Vous pouvez à tout moment refuser l’utilisation de ces cookies publicitaires.
      </p><br>
      <h5>Accepter ou refuser les cookies</h5>
      <p class="lead text-justify">Plusieurs solutions s’offrent à vous pour refuser le dépôt de cookies publicitaires sur votre terminal.<br></p>
      <h6>Via votre navigateur</h6>
      <p class="lead text-justify">Sur votre navigateur Internet, vous pouvez désactiver les cookies en suivant les instructions comme suit :</p>
      <ul>
        <li class="lead"><%= link_to 'Internet Explorer', "http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11" %></li>
        <li class="lead"><%= link_to 'Firefox', "https://support.mozilla.org/t5/Cookies-and-cache/Activer-et-d%C3%A9sactiver-les-cookies-que-les-sites-Internet/ta-p/11860" %></li>
        <li class="lead"><%= link_to 'Safari', "https://support.apple.com/kb/PH17191?locale=fr_FR&viewlocale=fr_FR" %></li>
        <li class="lead"><%= link_to 'Google Chrome', "https://support.google.com/accounts/answer/61416?hl=fr" %></li>
      </ul><br>
      <h6>Via une plateforme en ligne</h6>
      <p class="lead text-justify">Vous pouvez gérer plus d’une centaine de cookies en vous rendant sur la plateforme Your Online Choice. La gestion ne permet pas de bloquer l’affichage des publicités mais empêche seulement l’installation de cookies permettant d’adapter les publicités à vos centres d’intérêts. Cette plateforme identifie les cookies déposés sur votre terminal, puis vous pouvez choisir de les refuser ou de les accepter un par un :<%= link_to 'http://www.youronlinechoices.com/fr/', "http://www.youronlinechoices.com/fr/", :target=> "_blank" %> </p><br>
      <h5>Les conséquences liées au paramétrage des cookies</h5>
      <p class="lead text-justify">En poursuivant votre navigation (passage à une nouvelle page du site), vous acceptez le dépôt des cookies utilisés par Pointbudget.com et ses partenaires sur votre terminal. Ce consentement est valable pour une durée de 12 mois.<br><br>
      Si votre navigateur est configuré de manière à refuser l’ensemble des cookies, vos conditions d’accès au site sont susceptibles d’être modifiées, ce dont Pointbudget.com ne saurait être responsable. Afin de gérer les cookies au plus près de vos attentes, nous vous invitons donc à paramétrer votre navigateur en tenant compte de la finalité des cookies telle que mentionnée ci-avant.<br><br>
      Pour en savoir plus sur les moyens de contrôler les cookies, le site de la CNIL met à votre disposition un guide complet : <%= link_to 'https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser', "https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" %> 
      </p><br><br>
    </div>
  </div>
</main>