<main>
  <div class="container px-4">
    <div class="title-context">
    <h2>
    Point Budget est un comparateur d’assurances, de fournisseurs d’énergie, de services bancaires, de mutuelles, d’accès à Internet et de téléphonies fixes et mobiles.<br><br>
    Vous pouvez consulter l’explication détaillée du fonctionnement du service de comparaison ci-dessous et les mentions légales relatives à notre service.</h2>
    </div>
  </div>
  <div class="container px-4">
    <div class="title-context">
      <h2>Fonctionnement du service</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">En application de l’article 20 de la loi n° 2004-575 du 21 juin 2004 du décret n° 2016-505 du 22 avril 2016 relatif aux obligations d’information sur les sites comparateurs en ligne, nous vous informons que :</p><br>
    </div>
    <div class="content">
      <p class="lead pl-5 text-justify">Sur les différents critères de classement des offres de biens et de services ainsi que leur définition, en accédant au tableau de résultats, nous vous présentons un classement sur la base des tarifs annuels ou mensuels croissants.<br><br>
      Sur l’existence ou non d’une relation contractuelle ou de liens capitalistiques entre le site de comparaison et les professionnels référencés, tous les partenariats avec les partenaires présentés sur PointBudget.com font l’objet d’un contrat. Par ailleurs, PointBudget.com ne détient aucune participation capitalistique d’une compagnie d’assurance, d’un établissement financier partenaire dont les offres sont comparées sur le Site. <br><br>
      Sur l’existence ou non d’une rémunération du site par les professionnels référencés et, le cas échéant, l’impact de celle-ci sur le classement des offres Poinbudget.com est rémunéré par ses partenaires soit quand l’utilisateur sélectionne une offre et demande à entrer en contact avec le partenaire qui la propose, soit quand le contrat entre l’utilisateur et le partenaire est finalisé. Le service est ainsi gratuit pour les utilisateurs. Le classement des offres ne dépend pas de la rémunération des partenaires, mais se fait uniquement selon les prix des différentes offres (du moins cher au plus cher).<br><br>
      Sur le détail des éléments constitutifs du prix et la possibilité que des frais supplémentaires y soient ajoutés, les prix affichés s’entendent tous frais compris. Ils contiennent la prime annuelle ou mensuelle, les éventuels frais liés à la souscription et/ou à l’échelonnement des paiements.
      Dans le cas de la comparaison de contrats de fourniture d’énergie, les prix affichés incluent le montant de l’abonnement (incluant toutes les taxes à la date de la demande de comparaison) et le montant estimé de la consommation (basé sur l’estimation de la consommation faite).<br><br>
      Les factures totales affichées pourront évoluer pour deux raisons principales indépendantes des fournisseurs :</p>
      <ul>
        <li class="lead">Une modification des taxes locales</li>
        <li class="lead">Une consommation réelle différente de celle estimée (visible lors des relevés des compteurs – en moyenne deux fois par an)</li>
      </ul>
      <p class="lead pl-5 text-justify">Remarque :
      En plus du tarif affiché, Enedis et GRDF peuvent appliquer des frais de mise en service.<br><br>
      Sur la variation des garanties commerciales selon les produits comparés, les offres comparées correspondent à des niveaux de garanties, de franchises et de service différents. En plus du critère du prix, le détail des offres, franchises, options et services peuvent être comparés en accédant au détail de l’offre (en cliquant sur “Voir plus de détails”, “Détails de l’offre”, “En savoir plus” ou en téléchargeant les conditions générales mises à disposition pour chaque offre proposée).<br><br>
      Sur le caractère exhaustif ou non des offres de services comparées et du nombre de sites ou d’entreprises référencés, les résultats obtenus sur la page ne sont pas exhaustifs de l’ensemble du marché de l’assurance, des établissements financiers et du marché de la fourniture d’énergie.<br><br>
      Sur la périodicité et la méthode d’actualisation des offres comparées, les offres présentées sont mises à jour dans un délai de deux jours ouvrés après que le partenaire présentant l’offre a prévenu Pointbudget.com d’un changement des conditions générales ou particulières de l’offre d’assurance présentée, à l’exception du prix des assurances présentées. Deux possibilités concernant le prix : dans la plupart des cas, les prix sont hébergés par l’assureur, Pointbudget.com interroge le partenaire pour obtenir un prix à chaque cotation et les prix sont mis à jour en temps réel par l’assureur présentant l’offre ; dans une minorité de cas, les tableaux de prix sont hébergés par Pointbudget.com et Pointbudget.com met à jour la nouvelle grille de prix après que le partenaire a fourni sa nouvelle grille tarifaire. Le prix proposé à l’internaute est valable 30 jours à compter de la date de mise en relation de l’utilisateur avec le partenaire sauf erreur technique et sous réserve de l’exactitude des déclarations de l’internaute.</p>
      <ul>
        <li class="lead">Ils peuvent être mis à jour mensuellement par les partenaires et valables pour une durée définie par ces derniers. Ils sont alors enregistrés dans nos systèmes dans un délai de 24h ouvrées.</li>
        <li class="lead">Ils peuvent être obtenus à chaque cotation par interrogations des systèmes des partenaires.</li>
      </ul>
      <br>
    </div>
  </div>
  <div class="container px-4">
    <div class="content">
      <p class="lead text-justify">
      Les services de comparaison ou de simulation d’assurance “chien chat”, “voiture sans permis”, “accidents de la vie”, “obsèques”, “responsabilité civile pro”, “garantie décennale ”, “multirisque pro”, “rachat de crédit” sont opérés par notre partenaire Comparadise. <br><br>
      Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis le lien suivant : <%= link_to 'https://www.hyperassur.com/charte-comparateurs-assurance/', "https://www.hyperassur.com/charte-comparateurs-assurance/", :target => "_blank" %><br>
      Les services de simulation de devis d’assurance « voyage » sont opérés par notre partenaire AWP France SAS. Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis le lien suivant : <%= link_to 'https://www.allianz-voyage.fr/conditions-generales', "https://www.allianz-voyage.fr/conditions-generales", :target => "_blank" %><br><br>
      Les services de comparaison ou de simulation “banques en lignes”, “livrets d’épargne”, “assurance-vie”, “frais boursiers” sont opérés par notre partenaire <strong>Panorabanques</strong>.<br>
      Les services de comparaison ou de simulation “crédit consommation”, “crédit immobilier” sont opérés par notre partenaire <strong>Empruntis</strong>.<br>
      Les services de comparaison ou de simulation “d’offres d’accès à internet” sont opérés par notre partenaire <strong>BeMove</strong>.<br><br>
      Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis les liens suivants :</p>
      <ul>
        <li class="lead"><%= link_to 'Banques en lignes', "http://www.panorabanques.com/simulateur", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Crédit consommation', "https://www.empruntis.com/comment-ca-marche.php#link_credit_conso", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Crédit immobilier', "https://www.empruntis.com/comment-ca-marche.php#link_credit_immo", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Livrets d\'épargne', "http://www.panorabanques.com /le-comparateur-de-livrets-depargne", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Assurance-vie', "http://www.panorabanques.com /le-comparateur-dassurances-vie", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Frais boursiers', "http://www.panorabanques.com /simulateur-bourse", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Offres d\'accès à Internet', "https://telecom.bemove.fr/le-lynx/conditions-generales", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Frais boursiers', "http://www.panorabanques.com /simulateur-bourse", :target => "_blank" %></li>
        
      </ul>
    </div>
  </div>
</main>