<main class="terms-page">
  <div class="container px-4">
    <div class="title-context pt-4">
    <p class="lead text-justify">
    Point Budget est un comparateur d’assurances, de fournisseurs d’énergie, de services bancaires, de mutuelles, d’accès à Internet et de téléphonies fixes et mobiles.<br><br>
    Vous pouvez consulter l’explication détaillée du fonctionnement du service de comparaison ci-dessous ainsi que les <%= link_to 'conditions générales d\'utilisation', {:anchor => "conditions"} %>  relatives à notre service.</p>
    </div>
  </div>
  <div class="container px-4">
    <div class="title-context">
      <h2>Fonctionnement du service</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">En application de l’article 20 de la loi n° 2004-575 du 21 juin 2004 du décret n° 2016-505 du 22 avril 2016 relatif aux obligations d’information sur les sites comparateurs en ligne, nous vous informons que :</p><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Sur les différents critères de classement des offres de biens et de services ainsi que leur définition, en accédant au tableau de résultats, nous vous présentons un classement sur la base des tarifs annuels ou mensuels croissants.<br><br>
      Sur l’existence ou non d’une relation contractuelle ou de liens capitalistiques entre le site de comparaison et les professionnels référencés, tous les partenariats avec les partenaires présentés sur PointBudget.com font l’objet d’un contrat. Par ailleurs, PointBudget.com ne détient aucune participation capitalistique d’une compagnie d’assurance, d’un établissement financier partenaire dont les offres sont comparées sur le Site. <br><br>
      Sur l’existence ou non d’une rémunération du site par les professionnels référencés et, le cas échéant, l’impact de celle-ci sur le classement des offres Poinbudget.com est rémunéré par ses partenaires soit quand l’utilisateur sélectionne une offre et demande à entrer en contact avec le partenaire qui la propose, soit quand le contrat entre l’utilisateur et le partenaire est finalisé. Le service est ainsi gratuit pour les utilisateurs. Le classement des offres ne dépend pas de la rémunération des partenaires, mais se fait uniquement selon les prix des différentes offres (du moins cher au plus cher).<br><br>
      Sur le détail des éléments constitutifs du prix et la possibilité que des frais supplémentaires y soient ajoutés, les prix affichés s’entendent tous frais compris. Ils contiennent la prime annuelle ou mensuelle, les éventuels frais liés à la souscription et/ou à l’échelonnement des paiements.
      Dans le cas de la comparaison de contrats de fourniture d’énergie, les prix affichés incluent le montant de l’abonnement (incluant toutes les taxes à la date de la demande de comparaison) et le montant estimé de la consommation (basé sur l’estimation de la consommation faite).<br><br>
      Les factures totales affichées pourront évoluer pour deux raisons principales indépendantes des fournisseurs :</p>
      <ul>
        <li class="lead">Une modification des taxes locales</li>
        <li class="lead">Une consommation réelle différente de celle estimée (visible lors des relevés des compteurs – en moyenne deux fois par an)</li>
      </ul>
      <p class="lead text-justify">Remarque :
      En plus du tarif affiché, Enedis et GRDF peuvent appliquer des frais de mise en service.<br><br>
      Sur la variation des garanties commerciales selon les produits comparés, les offres comparées correspondent à des niveaux de garanties, de franchises et de service différents. En plus du critère du prix, le détail des offres, franchises, options et services peuvent être comparés en accédant au détail de l’offre (en cliquant sur “Voir plus de détails”, “Détails de l’offre”, “En savoir plus” ou en téléchargeant les conditions générales mises à disposition pour chaque offre proposée).<br><br>
      Sur le caractère exhaustif ou non des offres de services comparées et du nombre de sites ou d’entreprises référencés, les résultats obtenus sur la page ne sont pas exhaustifs de l’ensemble du marché de l’assurance, des établissements financiers et du marché de la fourniture d’énergie.<br><br>
      Sur la périodicité et la méthode d’actualisation des offres comparées, les offres présentées sont mises à jour dans un délai de deux jours ouvrés après que le partenaire présentant l’offre a prévenu Pointbudget.com d’un changement des conditions générales ou particulières de l’offre d’assurance présentée, à l’exception du prix des assurances présentées. Deux possibilités concernant le prix : dans la plupart des cas, les prix sont hébergés par l’assureur, Pointbudget.com interroge le partenaire pour obtenir un prix à chaque cotation et les prix sont mis à jour en temps réel par l’assureur présentant l’offre ; dans une minorité de cas, les tableaux de prix sont hébergés par Pointbudget.com et Pointbudget.com met à jour la nouvelle grille de prix après que le partenaire a fourni sa nouvelle grille tarifaire. Le prix proposé à l’internaute est valable 30 jours à compter de la date de mise en relation de l’utilisateur avec le partenaire sauf erreur technique et sous réserve de l’exactitude des déclarations de l’internaute.</p>
      <ul>
        <li class="lead">Ils peuvent être mis à jour mensuellement par les partenaires et valables pour une durée définie par ces derniers. Ils sont alors enregistrés dans nos systèmes dans un délai de 24h ouvrées.</li>
        <li class="lead">Ils peuvent être obtenus à chaque cotation par interrogations des systèmes des partenaires.</li>
      </ul>
      <br>
    </div>
  </div>
  <div class="container px-4">
    <div class="content">
      <p class="lead text-justify">
      Les services de comparaison ou de simulation d’assurance “chien chat”, “voiture sans permis”, “accidents de la vie”, “obsèques”, “responsabilité civile pro”, “garantie décennale ”, “multirisque pro”, “rachat de crédit” sont opérés par notre partenaire Comparadise. <br><br>
      Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis le lien suivant : <%= link_to 'https://www.hyperassur.com/charte-comparateurs-assurance/', "https://www.hyperassur.com/charte-comparateurs-assurance/", :target => "_blank" %><br>
      Les services de simulation de devis d’assurance « voyage » sont opérés par notre partenaire AWP France SAS. Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis le lien suivant : <%= link_to 'https://www.allianz-voyage.fr/conditions-generales', "https://www.allianz-voyage.fr/conditions-generales", :target => "_blank" %><br><br>
      Les services de comparaison ou de simulation “banques en lignes”, “livrets d’épargne”, “assurance-vie”, “frais boursiers” sont opérés par notre partenaire <strong>Panorabanques</strong>.<br>
      Les services de comparaison ou de simulation “crédit consommation”, “crédit immobilier” sont opérés par notre partenaire <strong>Empruntis</strong>.<br>
      Les services de comparaison ou de simulation “d’offres d’accès à internet” sont opérés par notre partenaire <strong>BeMove</strong>.<br><br>
      Vous pouvez consulter l’explication détaillée du fonctionnement des services depuis les liens suivants :</p>
      <ul>
        <li class="lead"><%= link_to 'Banques en lignes', "http://www.panorabanques.com/simulateur", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Crédit consommation', "https://www.empruntis.com/comment-ca-marche.php#link_credit_conso", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Crédit immobilier', "https://www.empruntis.com/comment-ca-marche.php#link_credit_immo", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Livrets d\'épargne', "http://www.panorabanques.com /le-comparateur-de-livrets-depargne", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Assurance-vie', "http://www.panorabanques.com /le-comparateur-dassurances-vie", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Frais boursiers', "http://www.panorabanques.com /simulateur-bourse", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Offres d\'accès à Internet', "https://telecom.bemove.fr/le-lynx/conditions-generales", :target => "_blank" %></li>
        <li class="lead"><%= link_to 'Frais boursiers', "http://www.panorabanques.com /simulateur-bourse", :target => "_blank" %></li>
      </ul>
    </div>
  </div>

  <div class="container px-4">
    <div class="title-context">
      <h2 id="conditions">Conditions générales d'utilisation</h2>
    </div>
    <div class="content">
      <p class="lead text-justify">Les services de comparaison d’assurances, de fournisseurs d’énergie, de services bancaires, de mutuelles, d’accès à Internet et de Téléphonies fixes et mobiles proposés par Pointbudget.com sont soumis aux conditions générales d’utilisation énumérées ci-dessous.<br><br>
      L’accès au site et son utilisation signifient que vous en acceptez les termes sans réserve. Votre accord sur son contenu résulte de cette consultation sans que vous ayez besoin d’apposer votre signature manuscrite sur un document quelconque. Pour toute question supplémentaire, n’hésitez pas à nous contacter : <%=mail_to "pointbudget@hotmail.com"%>
      </p><br>
    </div>
    <div class="title-context"><h4>Article 1. Conditions d’utilisation des services de Simulation</h4><br>
    <h5>1.1 Utilisation du service de simulation</h5>
    </div>
    <div class="content">
      <p class="lead text-justify">Vous trouverez, pour chacun des assureurs et des fournisseurs du panel sélectionnés par le site Pointbudget.com, un certain nombre d’informations et notamment le détail des offres, des garanties (assurance et fourniture d’énergie) et des partenaires.<br><br>
      Pour utiliser ces Services, vous allez notamment être amené à remplir l’un des questionnaires présentés sur le site Pointbudget.com<br><br>
      En accédant au tableau de résultats, nous vous présentons un classement des offres proposées par nos partenaires. Ces offres sont triées sur la base de la compétitivité de leur tarif (du moins cher au plus cher).<br><br>
      Pointbudget.com étant rémunéré par ses partenaires, le service est entièrement gratuit pour les utilisateurs. Le classement des offres ne dépend en aucun cas de la rémunération des partenaires.<br><br>
      Les prix présentés par Pointbudget.com s’entendent tous frais compris pour l’utilisateur. Ces prix affichés contiennent la prime annuelle ou mensuelle, les éventuels frais liés à la souscription et/ou à l’échelonnement des paiements.<br><br>
      Vous êtes informé et averti de ce que, malgré tous les soins et la diligence apportés par le site Pointbudget.com dans la collecte et la mise à jour des données présentées, les informations et résultats présentés par le Pointbudget.com sont susceptibles de contenir des erreurs ou des approximations qui ne sauraient en aucun cas engager la responsabilité de l’Éditeur, notamment pour les raisons suivantes : les réponses aux questions posées par le site Pointbudget.com dans ses questionnaires sont remplies par l’utilisateur, sous sa responsabilité exclusive, et l’Éditeur n’a aucun moyen de contrôler les réponses faites.<br><br>
      Pointbudget.com travaille tous les jours pour accueillir de nouveaux partenaires sur son comparateur. L’exhaustivité des résultats obtenus sur la page de devis dépend donc de la volonté des acteurs de chaque marché à être comparé. Par conséquent, les résultats présentés ne sont pas exhaustifs de l’ensemble des marchés.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h5>1.2 Utilisation du service de Mise en Relation</h5>
    </div>
    <div class="content">
      <p class="lead text-justify">Le Service de Mise en Relation peut permettre d’accéder au site Internet du partenaire dont l’utilisateur a sélectionné l’offre via le site Pointbudget.com<br><br>
      L’utilisateur est également informé du fait que l’utilisation du Service de Mise en Relation du site Pointbudget.com ne le dispense en aucun cas de faire les recherches nécessaires afin de formuler son propre jugement concernant les services et tarifs du partenaire sélectionné<br><br>
      L’Éditeur ne garantit pas que les frais qui seront éventuellement facturés par le partenaire sélectionné, soient clairement indiqués au moment du choix de celle-ci sur le site Pointbudget.com. Les conditions tarifaires des partenaires peuvent évoluer. En conséquence, aucune responsabilité de l’Éditeur ne pourra être engagée en cas d’écart entre les tarifs mentionnés sur le tableau des résultats du site Pointbudget.com et les tarifs effectivement proposés par le prestataire sélectionné.<br><br>
      L’utilisateur reconnait également que les partenaires sélectionnés via le site Pointbudget.com ne sont, en aucun cas, dans l’obligation d’accepter la demande de prestation de l’utilisateur et, en conséquence, de proposer leurs services.<br><br>
      Ainsi, les partenaires peuvent tout à fait, en fonction du profil de l’utilisateur, refuser de lui proposer leurs services et l’Éditeur ne peut en aucun cas être tenu responsable, à ce titre car, en sa qualité d’indicateur, il n’a aucun rôle dans l’étude et la sélection des dossiers de demande de souscription auprès d’un de ses partenaires.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h5>1.3 Souscription d’un contrat d’assurance</h5><br>
      <h6>1.3.1 Avant de souscrire</h6>
    </div>
    <div class="content">
      <p class="lead text-justify">Le formulaire de simulation de devis d’assurance inclut différentes questions, toutes nécessaires aux assureurs pour calculer le montant de la prime d’assurance qu’ils seraient susceptibles de vous proposer. Vous le remplissez sous votre responsabilité exclusive. Nous n’avons sur ces réponses ni maîtrise, ni contrôle. Une fois les devis obtenus, vous pourrez continuer à modifier vos critères sur la page de résultats mais vous ne recevrez pas d’email notifiant ces modifications.<br><br>
      Résistez à la tentation de donner de mauvaises réponses ! Il est important que vous répondiez à toutes les questions de manière complète et exacte. Si vous ne donnez pas à votre assureur les informations qu’il a demandées ou si vous ne l’informez pas de tout changement, le contrat d’assurance peut être caduc et le sinistre non remboursé.<br><br>
      Toute information erronée peut avoir de fâcheuses conséquences. Si une information est capitale ou si un changement survient, appelez votre assureur avant de souscrire une assurance avec lui. Avant de souscrire, il est très important que les informations que l’assureur détient soient vérifiées : elles doivent être complètes et exactes.<br><br>
      Afin de bénéficier de l’assurance que vous aurez choisie grâce à Pointbudget.com, vous devez y souscrire directement chez l’assureur concerné. Pour cela, vous devez cliquer sur l’un des boutons de mise en relation situés sur votre page de résultats : « recevoir un devis par e-mail, « être rappelé » ou « souscrire en ligne » Vous reconnaissez formellement être informé que les sites auxquels vous pouvez ainsi accéder par l’intermédiaire de Pointbudget.com ne nous appartiennent pas et que nous ne sommes pas responsables de leur contenu.<br><br>
      En utilisant Pointbudget.com, vous reconnaissez et acceptez que la nature même du métier d’assureur puisse conduire nos partenaires assureurs à ne pas vous proposer d’offres.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h6>1.3.2 Droit de rétraction</h6>
    </div>
    <div class="content">
      <p class="lead text-justify">
      Si vous souscrivez à une assurance à distance, notamment par téléphone ou en ligne, et que vous êtes une personne physique, vous disposez de 14 jours à compter de la date de signature du contrat pour vous rétracter sans motif ni pénalité à payer, à partir du moment où il n’y a eu aucun sinistre. Afin de pouvoir exercer ce droit et pour toutes précisions à ce sujet, lisez attentivement les conditions générales de l’assureur sur son site internet. Vous y trouverez également un modèle de lettre destiné à vous faciliter l’exercice de cette faculté de rétractation.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h5>1.4 Souscription d’un contrat de fourniture d’énergie</h5><br>
      <h6>1.4.1 Avant de souscrire</h6>
    </div>
    <div class="content">
      <p class="lead text-justify">Le formulaire de simulation de devis de contrat de fourniture d’énergie inclut différentes questions, toutes nécessaires aux partenaires pour estimer le montant de votre facture annuelle d’énergie. Vous le remplissez sous votre responsabilité exclusive. Nous n’avons sur ces réponses ni maîtrise, ni contrôle. Une fois les devis obtenus, vous pourrez continuer à modifier vos critères sur la page de résultats.<br><br>
      La page de devis vous permet de comparer les différentes offres proposées par nos partenaires. Le détail de chacune des offres est disponible en cliquant sur le lien « détails de l’offre ». Il est important de noter que les prix affichés incluent le montant de l’abonnement (incluant toutes les taxes à la date de la demande de comparaison) et le montant estimé de la consommation (basé sur l’estimation de la consommation faite).<br><br>
      Les factures totales affichées pourront évoluer pour deux raisons principales indépendantes des fournisseurs :</p>
      <ul>
        <li class="lead">Une modification des taxes locales</li>
        <li class="lead">Une consommation réelle différente de celle estimée (visible lors des relevés des compteurs – en moyenne deux fois par an)</li>
      </ul>
      <br>
    </div>
    <div class="title-context">
      <h6>1.4.2 Pour souscrire</h6>
    </div>
    <div class="content">
      <p class="lead text-justify">Une fois les différentes offres comparées, vous pouvez choisir parmi trois solutions pour finaliser votre contrat de fourniture d’énergie :</p>
      <ul>
        <li class="lead">En ligne sur le site du partenaire : cliquez sur le bouton « finaliser la souscription / Finaliser »</li>
        <li class="lead">Au téléphone avec l’aide d’un conseiller :</li>
        <li class="lead">En étant appelé : cliquer sur le bouton « Être rappelé par un conseiller / Rappel »</li>
        <li class="lead">En appelant le centre d’appel : cliquer sur le bouton « Appeler ce fournisseur / Appel »</li>
      </ul>
      <br>
      <p class="lead text-justify">Des questions supplémentaires pourront vous être posées quel que soit le mode de mise en relation choisi.</p>
    </div>
    <div class="title-context">
      <h6>1.4.3 Droit de rétractation</h6>
    </div>
    <div class="content">
      <p class="lead text-justify">Si vous souscrivez à un contrat de fourniture d’énergie à distance, notamment par téléphone ou en ligne, et que vous êtes une personne physique, vous disposez de 14 jours à compter de la date de signature du contrat pour vous rétracter sans motif ni pénalité à payer, à partir du moment où il n’y a eu aucun sinistre. Afin de pouvoir exercer ce droit et pour toutes précisions à ce sujet, lisez attentivement les conditions générales du fournisseur sur son site internet. Vous y trouverez également un modèle de lettre destiné à vous faciliter l’exercice de cette faculté de rétractation.</p><br>
    </div>

    <div class="title-context">
      <h4>Article 2. Conditions d’utilisation des services de demande de devis et/ou de comparaison de site internet partenaires</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Pointbudget.com peut également proposer aux utilisateurs les services de demande de devis et/ou de comparaison de sites internet partenaires.</p>

      <br>
    </div>

    <div class="title-context">
      <h4>Article 3. Mise en garde générale (commune à tous les produits)</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Le site Pointbudget.com ne peut affirmer ni garantir que les informations disponibles sur son site Internet sont précises ou exhaustives. Ces informations ne sauraient donc être considérées comme telles.<br><br>
      Les informations contenues sur le site Internet ne sont fournies qu’à titre purement informatif. Toute information, y compris celles relatives à des prix, sans toutefois s’y limiter, n’est donnée qu’à titre d’indication et ne constitue en aucun cas, ni n’est destinée à constituer, une offre, une demande, une incitation ou une recommandation à l’achat, la vente ou la fourniture (directe ou indirecte) de biens ou de services, ni l’affirmation que l’achat ou la vente de biens ou de services peuvent être effectués sur la base de telle information ou au prix indiqué.<br><br>
      Il ne saurait découler des informations contenues sur le site Pointbudget.com aucune obligation ou accord constituant un engagement à l’égard de l’utilisateur ou à l’égard de l’Éditeur du Site.<br><br>
      Chaque utilisateur doit être en mesure de procéder à ses propres recherches et de formuler son propre jugement concernant les services et tarifs des partenaires en question. Aucune responsabilité, quelle qu’elle soit, n’est acceptée en cas de perte ou de préjudice direct ou indirect dérivant de l’utilisation des informations contenues sur le site Internet, y compris les données mises à disposition des utilisateurs. Ces informations ne sauraient être considérées comme des conseils pour une stratégie d’investissement particulière ou dans toute autre intention.<br><br>
      Eu égard à son rôle d’indicateur, le site Pointbudget.com ne peut, en aucun cas, être considéré comme vendeur ou revendeur de produits ou services financiers, qui sont fournis exclusivement par le ou les Assureur(s), le ou les Etablissements financier(s), le ou les Fournisseur(s) d’énergie.<br><br>
      Pointbudget.com n’engage pas sa responsabilité à quelque titre que ce soit, notamment en cas de mécontentement ou d’insatisfaction de la part de l’utilisateur quant aux services souscrits ou fournis par les prestataires à la suite de En vous connectant au site Pointbudget.com, vous vous engagez à conserver les moyens d’authentification vous permettant de vous connecter et d’accéder aux divers services, de manière strictement confidentielle et personnelle. Vous vous engagez également à donner des informations exactes, fidèles et authentiques et à n’usurper l’identité d’aucune autre personne, à quelque titre et de quelle que manière que ce soit.<br><br>
      </p>
      <br>
    </div>
    <div class="title-context">
      <h4>Article 4. Responsabilité en cas d’erreur</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Il est de votre responsabilité de vérifier que les informations transmises dans les formulaires sont exactes et de rectifier d’éventuelles erreurs. La validité des offres que Pointbudget.com vous donne à voir est subordonnée à l’exactitude des réponses que vous fournissez. C’est à vous de vérifier à réception de votre devis ou lors de l’entretien avec le partenaire de la conformité entre votre situation et les données enregistrées par le prestataire proposant l’offre.<br><br>
      Pointbudget.com décline toute responsabilité quant à d’éventuels problèmes dans la suite de votre transaction avec le partenaire choisi. <span class="text-danger">Toute souscription de contrat s’effectue directement entre vous et lui. Pointbudget.com n’est pas non plus responsable de la gestion des contrats souscrits : il ne participe notamment pas à l’émission des documents contractuels et des appels de cotisation, ni à l’encaissement des primes, la réception des déclarations de sinistre, le suivi des procédures d’indemnisation, ou aux conditions d’extinction des contrats d’assurance (terme ou résiliation).</span><br><br>
      Malgré tous les efforts mis en œuvre pour soigner le service et ce, en raison de sa nature technique, les offres proposées ne peuvent être considérées comme fermes et engageantes pour le prestataire proposant l’offre ou pour Pointbudget.com. Pointbudget.com ne peut être tenu responsable en cas d’erreur ou d’omission : seules les informations présentées sur les sites internet des assureurs, des mutuelles (garanties, prix, franchises, etc.), des fournisseurs d’énergie ou des établissements financiers font foi en cas de litige.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h4>Article 5. Plainte et réclamation</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Nos clients peuvent nous adresser leurs plaintes et leurs réclamations en nous envoyant un mail à <%=mail_to "pointbudget@hotmail.com"%>. Nous faisons notre maximum pour respecter les droits de nos internautes en tant qu’utilisateurs de notre service.<br>
      Si votre plainte ou votre réclamation n’est pas en lien direct avec notre service de comparaison d’assurances ou de contrat de fourniture d’énergie, ou qu’elle relève d’un contrat que vous avez souscrit avec l’un de nos partenaires, nous vous invitons à prendre directement contact avec lui en suivant les indications contenues sur son site.
      <br><br>
      Vous pouvez également vous adresser à L’Autorité de contrôle prudentiel et de résolution (ACPR), qui est l’organe de supervision français de la banque et de l’assurance. Autorité de contrôle prudentiel et de résolution – Direction du contrôle des pratiques commerciales – 61 rue Taitbout 75436 PARIS CEDEX 09, <%=mail_to "info-clientele@acpr.banque-france.fr"%><br><br>
      Dans le cas de la comparaison de contrats de fourniture d’énergie, vous pouvez vous rendre sur le site dédié du médiateur national de l’énergie (<%= link_to 'http://www.energie-info.fr', "http://www.energie-info.fr", :text => "_blank" %>), ou écrire à l’adresse libre d’affranchissement : Libre réponse n° 59252, 75443 PARIS CEDEX 09<br><br>
      </p>
    </div>
    <div class="title-context">
      <h4>Article 6. Loi applicable</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">La loi française s’applique quel que soit le lieu du domicile de l’utilisateur et/ou le lieu de sa connexion au réseau Internet.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h4>Article 7. Usage commercial</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Ce site n’est pas destiné à un usage commercial. Il est réservé à un usage privé et personnel uniquement. Une utilisation commerciale du site n’est pas autorisée. De même, une utilisation massive peut ralentir la vitesse du service que nous proposons aux internautes. Nous surveillons l’utilisation de notre service et si nous détectons une utilisation commerciale ou massive, nous y mettrons fin. Dans tous les cas, nous nous réservons le droit de prendre des mesures contre toute personne qui utiliserait notre service de manière non autorisée.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h4>Article 8. Modification des CGU</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Nous nous réservons le droit de modifier, à notre entière discrétion et sans préavis, les conditions générales de notre site. Dans ce cas, la nouvelle version sera publiée sur le site Pointbudget.com. Après entrée en vigueur des modifications, une utilisation renouvelée du site confirmera que vous acceptez ces nouvelles conditions générales d’utilisation.<br><br>
      </p>
    </div>
    <div class="title-context">
      <h4>Article 9. Accès au site</h4><br>
    </div>
    <div class="content">
      <p class="lead text-justify">Nous nous efforçons de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de notre contrôle et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br><br>
      <p class="lead text-justify">Par conséquent, Pointbudget.com ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.<br><br>
      <p class="lead text-justify">Notre responsabilité ne saurait être engagée en cas d’impossibilité d’accès au site Pointbudget.com et/ou d’utilisation des services.<br><br>
      <p class="lead text-justify">Par ailleurs, nous pouvons être amenés à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que, nous ne soyons pas responsables des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.<br><br>
      </p>
    </div>
  </div>


</main>