<div class="container flex-grow-1 w-100">
    <div class="row justify-content-start">
      <div class="col-md-6">
        <h3 class="mb-4">Mon Profil</h3>
        <ul class="profile-list">
        <li class="form-group">
          <dt>Votre nom</dt>
          <dl><%= current_user.last_name.blank? ? 'Non renseigné' : current_user.last_name %></dl>
        </li>
        <li class="form-group">
          <dt>Votre prémon</dt>
          <dl><%= current_user.first_name.blank? ? 'Non renseigné' : current_user.first_name %></dl>
        </li>
        <li class="form-group">
          <dt>Votre adresse email</dt>
          <dl><%= current_user.email.blank? ? 'Non renseigné' : current_user.email %></dl>
        </li>
        <li class="form-group">
          <dt>Votre numéro de téléphone</dt>
          <dl><%= current_user.phone_number.blank? ? 'Non renseigné' : current_user.phone_number %></dl>
        </li>
        <li class="form-group">
          <dt>Votre ville</dt>
            <% if @user.city? %>
              <dl>
               <%= current_user.city.name %>
              </dl>
            <%else%>
              <dl>
               Non renseigné
              </dl>
            <%end %>
          </dl>
        </li>
        <li class="button-group">
         <%= link_to "Editer mon profil", edit_user_path(current_user), class: "btn btn-success"%>
        </li>
        <br>
        <li class="button-group">
         <%= link_to "Editer mon compte", edit_user_registration_path(current_user), class: "btn btn-success"%>
        </li>
      </ul>
      </div>
    </div>
</div>
