<div class="container d-flex justify-content-center align-items-center">
  <div class="row", style="margin-top:50px">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">

      <%= form_for(resource, url: path, method: method) do |f| %>
      <h2><%=title %></h2>

<!--        IF DEVISE ERRORS-->
        <%begin%>
          <%if devise_error_messages!%>
            <%= devise_error_messages! %>
          <%end%>
        <%rescue%>
        <%end%>

        <%case action %>
        <%when 'new_session' %>
          <div class="form-group">
            <!--   <%= f.label :email %><br /> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <!--  <%= f.label :password %><br /> -->
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me%><br>
              <%= f.label :remember_me%>
            </div>
          <% end %>

<!--          NEW REGISTRATION FORM-->
        <%when 'new_registration' %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password", class: "form-control" %>
          </div>

<!--        NEW PASSWORD FORM -->
        <%when 'new_password' %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>


<!--        CHANGE PASSWORD FORM-->

        <%when 'edit_password'%>

        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

<!-- EDIT REGISTRATION FORM-->

        <%when 'edit_registration'%>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        </div>


      <%= link_to "Back", :back %>


<!-- UNLOCKS NEW FORM-->
        <%when 'new_unlocks'%>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>


<!-- CONFIRMATION INSTRUCTIONS -->
        <%when 'new_confirmation'%>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control" %>
          </div>


<!--        GAS SIMULATION FORM-->

        <%when 'new_gas_simulation'%>
          <div class="form-group">
            <p>Connaissez vous votre consommation de gaz ?
            <%= radio_button_tag(:answer, "yes")%>
            <%= label_tag(:answer_yes, "Oui")%>
            <%= radio_button_tag(:answer, "no") %>
            <%= label_tag(:answer_no, "Non") %>
            </p>
          <div id="consumption" style="display:none;">
            <p>Coût annuel
            <%= number_field_tag "Yearly cost", nil, step: 0.01 , class: 'd-flex justify-content-end' %>
            </p>
            <p>Consommation annuelle
            <%= number_field_tag "Yearly consumption", nil, step: 0.01 , class: 'd-flex justify-content-end'%>
            </p>
          </div>
          <div id="estimation" style="display:none;">
            <p>Superficie en m²
            <%= number_field_tag "Floor space", nil, step: 0.01 , class: 'd-flex justify-content-end'%>
            </p>
            <p> Type de chauffage
            <%= select_tag "Heat type", options_for_select([ "Gaz", "Electricité" ], "Gaz"), class: 'd-flex justify-content-end'%>
            </p>
            <p> Energie utilisée pour l'eau chaude et la cuisson
            <%= select_tag "Energy used to heat water & cooking", options_for_select([ "Gaz", "Electricité" ], "Gaz"), class: 'd-flex justify-content-end'%>
            </p>
            <p>Nombres de personnes dans le logement
            <%= number_field_tag "Number of people living", nil, step: 1 , class: 'd-flex justify-content-end'%>
            </p>
          </div>
          </div>

<!--        EDIT USER-->

        <%when 'edit_user'%>
          <div class="form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, placeholder: resource.first_name, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, placeholder: resource.last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number %><br />
            <%= f.text_field :phone_number, autofocus: true, placeholder: resource.phone_number, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label :city_id %><br />
            <%= f.collection_select :city_id, City.order(:name), :id, :name, include_blank: true, class: "form-control" %>
          <!-- JEAN: i had to delete the placeholder: resource.city.name because user is created without a city when none using seeds.rb -->
          </div>

          <% if is_admin? %>
            <div class="form-group">
              <%= f.radio_button(:is_admin, true,autocomplete: :is_admin) %>
              <%= f.label(:is_admin, "True")%>
              <%= f.radio_button(:is_admin, false,autocomplete: :is_admin) %>
              <%= f.label(:is_admin, "False")%>
            </div>
          <%end %>

        <%end%>


<!--        FOR ALL FORMS-->
        <div class="form-group">
          <%= f.submit button, class: "btn btn-primary btn-block" %>
        </div>


      <% end %>

      <%if ["edit_password", "new_password",'new_registration','new_session', 'new_unlocks', 'new_confirmation'].include?(action)%>
        <%= render "devise/shared/links" %>
      <%end%>
    </div>
  </div>
</div>
