<div class="container d-flex justify-content-center align-items-center">
  <div class="row", style="margin-top:50px">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">

      <%= form_for(resource, url: path, method: method) do |f| %>
      <h2><%=title %></h2>

<!--        IF DEVISE ERRORS-->
        <%begin%>
          <%if devise_error_messages!%>
            <%= devise_error_messages! %>
          <%end%>
        <%rescue%>
        <%end%>

        <%case action %>
        <%when 'new_session' %>
          <div class="form-group">
            <!--   <%= f.label :email %><br /> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <!--  <%= f.label :password %><br /> -->
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me%><br>
              <%= f.label :remember_me%>
            </div>
          <% end %>

<!--          NEW REGISTRATION FORM-->
        <%when 'new_registration' %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password", class: "form-control" %>
          </div>

<!--        NEW PASSWORD FORM -->
        <%when 'new_password' %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>


<!--        CHANGE PASSWORD FORM-->

        <%when 'edit_password'%>

        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <%when 'edit_user'%>
          <div class="form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, placeholder: resource.first_name, class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, placeholder: resource.last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number %><br />
            <%= f.text_field :phone_number, autofocus: true, placeholder: resource.phone_number, class: "form-control"  %>
          </div>





          <% if is_admin? %>
            <div class="form-group">
              <%= f.radio_button(:is_admin, true,autocomplete: :is_admin) %>
              <%= f.label(:is_admin, "True")%>
              <%= f.radio_button(:is_admin, false,autocomplete: :is_admin) %>
              <%= f.label(:is_admin, "False")%>
            </div>
          <%end %>

        <%end%>

<!--        FOR ALL FORMS-->
        <div class="form-group">
          <%= f.submit button, class: "btn btn-primary btn-block" %>
        </div>


      <% end %>

      <%if ["edit_password", "new_password",'new_registration','new_session'].include?(action)%>
        <%= render "devise/shared/links" %>
      <%end%>
    </div>
  </div>
</div>