
<!-- Card -->
<div class="container">
  <div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="pricing-card">
        <div class="card shadow-soft border-light p-4">
          <!-- Header -->
          <header class="card-header border-bottom bg-white text-center d-flex flex-column">
            <div class="display-1 text-secondary font-weight-bold">
              <p class="align-top font-medium">Vous pouvez épargner</p><%= (@bank_sim.bank_cost_saved).round(2)%> €
              <span class="font-medium">/ an</span>
            </div>
          </header>
          <!-- Content -->
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <ul class="list-group mb-4">
                  <li class="list-group-item"><strong>Frais de gestion de compte</strong><br>
                    <%= @bank_sim.accounting_fees%> €  </li>
                  <li class="list-group-item"><strong>Frais liés au chéquier</strong><br>
                    <%= @bank_sim.price_cheque%>  € </li>
                  <li class="list-group-item"><strong>Frais liés à l'assurance de vos moyens de paiement</strong><br>
                    <%= @bank_sim.insurance_payment%>  €  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <h2 class='text-center'>
    <%case @bank_contracts.length %>
    <%when 0 %>
      Ce contrat actuel répond parfaitement aux besoins du client !
    <% when 1 %>
      1 seul meilleur contrat est ressorti!
    <%else %>
      Voici les <%=@bank_contracts.length %> contrats plus avantageux
    <%end %>
  </h2>
  <div class="row my-5">
    <% @bank_contracts.each do |contract| %>
      <div class="col-md-4">

        <div class="pricing-card">
          <div class="card shadow-soft border-light p-4">
            <!-- Header -->
            <header class="card-header border-bottom bg-white text-center">
              <span class="d-block">
                <span class="display-1 text-primary font-weight-bold">
                    <span class="align-top font-medium"><%= contract.supplier %></span>
                </span>
              </span>
            </header>
            <!-- End Header -->
            <!-- Content -->
            <div class="card-body">
              <ul class="list-group mb-4">
                <li class="list-group-item"><strong>Economies grâce à ce contrat</strong> : <%=contract.join_table_bank_contracts.find_by(bank_simulation_id: @bank_sim.id).savings %> €</li>
                <li class="list-group-item"><strong>Frais de gestion de compte</strong> : <%=contract.accounting_fees %> € </li>
                <li class="list-group-item"><strong>Frais liés au chéquier</strong> : <%=contract.price_cheque %> € </li>
                <li class="list-group-item"><strong>Frais liés à l'assurance de vos moyens de paiement</strong> : <%=contract.insurance_payment %> € </li>
              </ul>
            </div>
            <!-- End Content -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/back' %>
