
<!--users/1/full_simulations/7/gas_simulations/5-->


<div class="profile-section">
  <div class="row">
    <div class="col-md-12">
     <h2 class="profile-title"><strong>Votre simulation de gaz</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">Simulation</th>
            <th scope="col" style="width: 10%;">Créée le</th>
            <th scope="col" style="width: 10%;">Superficie</th>
            <th scope="col" style="width: 10%;">Type de chauffage (eau)</th>
            <th scope="col" style="width: 10%;">Type de chauffage (maison)</th>
            <th scope="col" style="width: 10%;">Nombre d'habitants</th>
            <th scope="col" style="width: 10%;">Utilisation de gaz</th>
            <th scope="col" style="width: 10%;">Prix payé</th>
            <th scope="col" style="width: 15%;">Montant gagné</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @gas_sim.id %></th>
            <td><%= @gas_sim.created_at.to_formatted_s(:short)  %></td>
            <td><%= @gas_sim.floor_space%></td>
            <td><%= @gas_sim.heat_type%></td>
            <td><%= @gas_sim.water_cooking_type%></td>
            <td><%= @gas_sim.residents_number%></td>
            <td><%= @gas_sim.gas_use%></td>
            <td><%=@gas_sim.actual_price_paid%></td>
            <td><%= @gas_sim.gas_cost_saved%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Card -->
<div class="pricing-card">
  <div class="card shadow-soft border-light p-4">
    <!-- Header -->
    <header class="card-header border-bottom bg-white text-center">
        <span class="d-block">
            <span class="display-1 text-secondary font-weight-bold">
                <span class="align-top font-medium">$</span>19
            </span>
            <span class="text-light font-small">/ month</span>
        </span>
    </header>
    <!-- End Header -->
    <!-- Content -->
    <div class="card-body">
        <p>Faster sites deliver better business results for
            your clients.</p>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Full Support</strong>
                No</li>
            <li class="list-group-item"><strong>Storage</strong>
                50 GB</li>
            <li class="list-group-item"><strong>Monthly
                    Visitors</strong> 400k</li>
        </ul>
        <button type="button" class="btn btn-outline-secondary btn-block"
            tabindex="0"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</button>
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End of Pricing Card -->
