<h2>Ma simulation de gaz</h2>

<!--users/1/full_simulations/7/gas_simulations/5-->


<div class="profile-section">
  <div class="row">
    <div class="col-md-12">
     <h2 class="profile-title"><strong>Votre simulation de gaz</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">Simulation</th>
            <th scope="col" style="width: 25%;">Créée le</th>
            <th scope="col" style="width: 15%;">Superficie</th>
            <th scope="col" style="width: 15%;">Type de chauffage (maison)</th>
            <th scope="col" style="width: 15%;">Type de chauffage (eau)</th>
            <th scope="col" style="width: 15%;">Nombre d'habitants</th>
            <th scope="col" style="width: 15%;">Utilisation de gaz</th>
            <th scope="col" style="width: 25%;">Prix payé</th>
            <th scope="col" style="width: 30%;">Montant gagné</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @gas_sim.id %></th>
            <td><%= @gas_sim.created_at.to_formatted_s(:short)  %></td>
            <td><%= @gas_sim.floor_space%></td>
            <td><%= @gas_sim.heat_type%></td>
            <td><%= @gas_sim.water_cooking_type%></td>
            <td><%= @gas_sim.residents_number%></td>
            <td><%= @gas_sim.gas_use%></td>
            <td><%=@gas_sim.actual_price_paid%></td>
            <td><%= @gas_sim.gas_cost_saved%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--create_table "gas_simulations", force: :cascade do |t|
    t.float "actual_price_paid"
    t.float "gas_cost_saved"
    t.integer "floor_space"
    t.string "heat_type"
    t.string "water_cooking_type"
    t.integer "residents_number"
    t.integer "gas_use"
    t.bigint "full_simulation_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "name", default: "Gaz"
    t.index ["full_simulation_id"], name: "index_gas_simulations_on_full_simulation_id"
  end-->
