<h2>Ma simulation de gaz</h2>

<%= @gas_sim%>

<!--users/1/full_simulations/7/gas_simulations/5-->


<div class="profile-section">
  <div class="row">
    <div class="col-md-12">
     <h2 class="profile-title"><strong>Votre simulation de gaz</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 15%;">Simulation</th>
            <th scope="col" style="width: 25%;">Créée le</th>
            <th scope="col" style="width: 15%;">Domaines remplis</th>
            <th scope="col" style="width: 25%;">Action</th>
            <th scope="col" style="width: 30%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= simu.id %></th>
            <td><%= gas_sim.created_at %></td>
            <td><%=%></td>
            <td><%= link_to "Compléter cette simulation", user_full_simulation_path(current_user, simu), class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--create_table "gas_simulations", force: :cascade do |t|
    t.float "actual_price_paid"
    t.float "gas_cost_saved"
    t.integer "floor_space"
    t.string "heat_type"
    t.string "water_cooking_type"
    t.integer "residents_number"
    t.integer "gas_use"
    t.bigint "full_simulation_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "name", default: "Gaz"
    t.index ["full_simulation_id"], name: "index_gas_simulations_on_full_simulation_id"
  end-->
