
<!-- Card -->
<div class="pricing-card">
  <div class="card shadow-soft border-light p-4">
    <!-- Header -->
    <header class="card-header border-bottom bg-white text-center">
      <span class="float-left"><%= @gas_sim.created_at.to_formatted_s(:short)%></span>
      <span class="d-block">
        <span class="display-1 text-secondary font-weight-bold">
            <span class="align-top font-medium pr-5">Vous pouvez épargner</span><%= @gas_sim.gas_cost_saved / 12%>
        </span>
        <span class="text-light font-small">/ mois</span>
      </span>
    </header>
    <!-- Content -->
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Coût annuel de gaz</strong> <%=@gas_sim.actual_price_paid%></li>
            <li class="list-group-item"><strong>Superficie</strong>
                <%= @gas_sim.floor_space%> m2</li>
            <li class="list-group-item"><strong>Nombre de personnes</strong> <%= @gas_sim.residents_number%></li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Type de chauffage (maison)</strong>  <%= @gas_sim.heat_type%></li>
            <li class="list-group-item"><strong>Type de chauffage (eau + cuisson)</strong> 
                <%= @gas_sim.water_cooking_type%></li>
            <li class="list-group-item"><strong>Consommation annuelle</strong>  <%= @gas_sim.gas_use%> Wh</li>
          </ul>
        </div>
      </div>
        <%= link_to 'Lancer une nouvelle simulation', new_user_full_simulation_path(current_user), class:"btn btn-outline-secondary btn-block"%>
    </div>
  </div>
</div>
