
 <!-- btn categories -->

<% unless @full_simulation.validated == true %>
	<div class="title-simu container-fluid">
	  <h2 class="text-center">Vous désirez economiser un maximum? <br>Explorez toutes nos catégories!</h2>
	</div>

	<div id="categories" class="row container-fluid d-flex justify-content-around">

		<!-- insurance -->
      <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-assur btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
				<div class="d-flex justify-content-around align-items-center text-white">
					<span class="icon"><i class="fas fa-house-damage"></i></span>
					<h5 class="mt-4">Assurance</h5>
				</div>
			<% end %>
		<!-- bank -->
      <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-bank btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
				<div class="d-flex justify-content-around align-items-center text-white">
					<span class="icon"><i class="fas fa-money-check-alt"></i></span>
					<h5 class="mt-4">Banque</h5>
				</div>
			<% end %>
    <% if @full_simulation.only_one_gas_simulation %>
    <!-- energy -->
      <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-elec btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
				<div class="d-flex justify-content-around align-items-center text-white">
					<span class="icon"><i class="fas fa-sun"></i></span>
					<h5 class="mt-4">Energie</h5>
				</div>
			<% end %>
    <% else %>
      <%= button_tag class: 'btn-simu-bank btn-simu btn btn-primary animate-up-3', id:'btn-energy' do %>
        <div class="d-flex justify-content-around align-items-center text-white">
          <span class="icon"><i class="fas fa-sun"></i></span>
          <h5 class="mt-4">Energie</h5>
        </div>
      <% end %>
    <% end %>

    <% if @full_simulation.only_one_box_simulation %>
		<!-- numeric -->
      <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-num btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
				<div class="d-flex justify-content-around align-items-center text-white">
					<span class="icon"><i class="fas fa-mobile-alt"></i></span>
					<h5 class="mt-4">Numérique</h5>
				</div>
			<% end %>
    <%else %>
      <%= button_tag class: 'btn-simu-bank btn-simu btn btn-primary animate-up-3', id:'btn-numeric' do %>
        <div class="d-flex justify-content-around align-items-center text-white">
          <span class="icon"><i class="fas fa-mobile-alt"></i></span>
          <h5 class="mt-4">Numérique</h5>
        </div>
      <% end %>
    <% end %>
		<!-- medical -->
      <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-mut btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
				<div class="d-flex justify-content-around align-items-center text-white">
					<span class="icon"><i class="fas fa-stethoscope"></i></span>
					<h5 class="mt-4">Mutuelle</h5>
				</div>
			<% end %>
	</div>


   <!-- btn energy JAVASCRIPT -->
   <div class="container-fluid row justify-content-center" id="energy-categories" style="display:none;">
     <div class="col-md-4 d-flex justify-content-around">
       <% if @full_simulation.only_one_gas_simulation %>
         <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-gas btn-simu btn btn-secondary disabled mx-2', style:'cursor:not-allowed' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-burn"></i></span>
             <h5 class="mt-4">Gaz</h5>
           </div>
         <% end %>
         <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-elec btn-simu btn btn-secondary disabled mx-2', style:'cursor:not-allowed' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-bolt"></i></span>
             <h5 class="mt-4">Electricité</h5>
           </div>
         <% end %>
       <% else %>
         <!-- gaz_simaltion btn -->
         <%= button_tag class: 'btn-simu-gas btn-simu btn btn-primary animate-up-3 mx-2', id:'btn-gas' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-burn"></i></span>
             <h5 class="mt-4">Gaz</h5>
           </div>
         <% end %>
         <%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-elec btn-simu btn btn-secondary disabled mx-2', style:'cursor:not-allowed' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-bolt"></i></span>
             <h5 class="mt-4">Electricité</h5>
           </div>
         <% end %>
       <% end %>
     </div>
     <!-- Gas Simulation JS -->
     <div id="gas-simu" class="col-md-12" style="display: none;">
       <%= render partial: "shared/form", locals:{resource: @gas_simulation,
                                                  action: 'new_gas_simulation',
                                                  path: user_full_simulation_gas_simulations_path(current_user,
                                                                                                  @full_simulation),
                                                  method: :post,
                                                  title: 'Simulation gaz',
                                                  button: "Terminer"}%>
     </div>
   </div>



   <!-- btn numeric JAVASCRIPT -->
   <div class="container-fluid row justify-content-center" id="numeric-categories" style="display:none;">
     <div class="col-md-4 d-flex justify-content-around">
       <% if @full_simulation.only_one_box_simulation %>
         <%= button_tag new_user_full_simulation_box_simulation_path(current_user, @full_simulation), class: 'btn-simu-box btn-simu btn btn-secondary disabled mx-2', style:'cursor:not-allowed' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-signal"></i></span>
             <h5 class="mt-4">Box</h5>
           </div>
         <% end %>
       <% else %>
         <!-- box_simaltion btn -->
         <%= button_tag class: 'btn-simu-box btn-simu btn btn-primary animate-up-3 mx-2', id:'btn-box' do %>
           <div class="d-flex justify-content-around align-items-center text-white">
             <span class="icon"><i class="fas fa-signal"></i></span>
             <h5 class="mt-4">Box</h5>
           </div>
         <% end %>
       <% end %>
       <%= button_tag new_user_full_simulation_box_simulation_path(current_user, @full_simulation), class: 'btn-simu-mobile btn-simu btn btn-secondary disabled mx-2', style:'cursor:not-allowed' do %>
         <div class="d-flex justify-content-around align-items-center text-white">
           <span class="icon"><i class="fas fa-mobile-alt"></i></span>
           <h5 class="mt-4">Mobile</h5>
         </div>
       <% end %>
     </div>
     <!-- Gas Simulation JS -->
     <div id="box-simu" class="col-md-12" style="display: none;">
       <%= render partial: "shared/form", locals:{resource: @box_simulation,
                                                  action: 'new_box_simulation',
                                                  path: user_full_simulation_box_simulations_path(current_user,
                                                                                                  @full_simulation),
                                                  method: :post,
                                                  title: 'Simulation box internet',
                                                  button: "Terminer"}%>
     </div>
   </div>





	<!-- Button Modal -->
	<div class="container-fluid row justify-content-center simulation-result">
    <%=button_tag 'Je finalise ma simulation', class:'btn btn-block btn-secondary mb-3 col-md-3 btn-result', data:{toggle:'modal', target:("#modal-default")} %>
	</div>
	<!-- Modal Content -->
	<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
	    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-default">Point Budget</h6>
          <%=button_tag class:'close', data:{dismiss:'modal'}, aria:{label:'close'} do %>
            <span aria-hidden="true">×</span>
          <%end %>
        </div>
        <div class="modal-body">
          <div id="context" class="container">
				    <div class="content">
				      <h4 class="text-center">D'après nos comparateurs, vous pourriez économiser</h4><br>
				    </div>
				    <div class="price-position d-flex justify-content-center">
				      <h4 class="price-simu bg-secondary text-white"><%= @full_simulation.total_cost_saved %>€</h4><br>
				    </div>
				    <div class="content">
				      <h4 class="text-justify">Validez sans plus tarder votre simulation afin d'accéder à vos différents domaines d'économie!</h4><br>
				    </div>
				  </div>
				</div>
        <div class="modal-footer">
        		<%= render partial: "shared/form",
       locals:{resource: @full_simulation,
               action: 'validate_full_simulation',
               path: user_full_simulation_path(current_user, @full_simulation),
               method: :put,
               title: '',
               button: "Valider ma simulation"}%>
        </div>
      </div>
    </div>
	</div>
	<!-- End of Modal Content -->
                                                        
<% else %>

	<div class="btn-block"></div>
	<div id="context" class="container">
    <div class="title-context">
      <h2>Vous venez de valider votre simulation n°<%= @full_simulation.id %>!</h2>
    </div>
    <div class="content">
		  <h4 class="text-center">D'après nos comparateurs, vous pourriez économiser</h4><br>
		</div>
	  <div class="price-position d-flex justify-content-center">
	    <h4 class="price-simu bg-secondary text-white"><%= @full_simulation.total_cost_saved %>€</h4><br>
    </div>
    <div class="content">
			<p>Regardons de près:</p>
		</div>
	</div>
	<div id="simulation-list" class="container">
		<% if @full_simulation.only_one_gas_simulation %>
			<div class="accordion container">
		    <div class="card card-sm card-body shadow-sm border-soft border">
	        <div data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
	          <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-burn"></i><%= @full_simulation.gas_simulation.name %></span>
	          <span class="icon"><i class="fas fa-plus"></i></span>
	        </div>
	        <div class="collapse" id="panel-1">
	          <div class="pt-3">
              <p class="mb-0">
                  Vous pouvez économiser <%= @full_simulation.gas_simulation.gas_cost_saved %>€
              </p>
              <%=link_to 'Voir en détails', user_full_simulation_gas_simulation_path(current_user,@full_simulation, @full_simulation.gas_simulation) %>
            </div>
	        </div>
		    </div>
		   </div>
    <% end %>
		<% if @full_simulation.only_one_box_simulation %>
			<div class="accordion container">
		    <div class="card card-sm card-body shadow-sm border-soft border">
	        <div data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
	          <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-signal"></i><%= @full_simulation.box_simulation.name %></span>
	          <span class="icon"><i class="fas fa-plus"></i></span>
	        </div>
	        <div class="collapse" id="panel-3">
	          <div class="pt-3">
              <p class="mb-0">
                  Vous pouvez économiser <%= @full_simulation.box_simulation.box_cost_saved %>€
              </p>
              <%=link_to 'Voir en détails', user_full_simulation_gas_simulation_path(current_user,@full_simulation, @full_simulation.box_simulation) %>
            </div>
	        </div>
		    </div>
		   </div>
    <% end %>
	</div>
<% end %>

<%= render partial: 'shared/back' %>

