<h1>FullSimulations#show</h1>
<p>Find me in app/views/full_simulations/show.html.erb</p>

	<!-- Modal -->
<div class="modal static-example" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
  </div>
</div>
<!-- End of modal -->

<% unless @full_simulation.validated == true %>
	<div>
		<% if @full_simulation.only_one_gas_simulation %>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Assurance</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Banquaire</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Energie</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Numérique</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Mutuelle</button>
	  <% else %>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Assurance</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Banquaire</button>
		  <%=link_to "Energie", new_user_full_simulation_energy_path(current_user, @full_simulation), class: "btn btn-primary"%>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Numérique</button>
		  <button type="button" class="btn btn-primary disabled" style="cursor:not-allowed">Mutuelle</button>
	  <% end %>
	</div>


	<%= render partial: "shared/form",
           locals:{resource: @full_simulation,
                   action: 'validate_full_simulation',
                   path: user_full_simulation_path(current_user, @full_simulation),
                   method: :put,
                   title: '',
                   button: "Valider ma simulation"}%>

<% else %>
	<div>
		<h1>Résultat de votre simulation</h1>
	</div>
	<div>
		<p>Vous venez de valider votre simulation n°<%= @full_simulation.id %>!</p>
		<p>Vous avez remplis le ou les catégoties suivantes:</p>
		<ul>
			<li>
				<% if @full_simulation.only_one_gas_simulation %>
		     <%= @full_simulation.gas_simulation.name %>
		    <% end %>
		  </li>
  </ul>
	</div>
	<div>
		<p>D'après notre comparateur, vous pouvez économiser:</p>
		<h1><%= @full_simulation.total_cost_saved %>€ !!!!</h1>
	</div>
	<div>
		<p>Regardons de près:</p>
		<p>
			<% if @full_simulation.only_one_gas_simulation %>
				<div class="accordion container">
			    <div class="card card-sm card-body shadow-sm border-soft border">
			        <div data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
			            <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-burn"></i><%= @full_simulation.gas_simulation.name %></span>
			            <span class="icon"><i class="fas fa-plus"></i></span>
			        </div>
			        <div class="collapse" id="panel-4">
			            <div class="pt-3">
			                <p class="mb-0">
			                    Vous pouvez économiser <%= @full_simulation.gas_simulation.gas_cost_saved %>€
			                </p>
			            </div>
			        </div>
			    </div>
	    <% end %>
		</p>
	</div>

<% end %>