	<div class="btn-block"></div>
	<div id="context" class="container">
    <div class="title-context">
      <h2><%= link_to @user.email, admin_user_path(@user) %> : Simulation n°<%= @full_simulation.id %>!</h2>
    </div>
    <div class="content">
		  <h4 class="text-center">Economies réalisées</h4><br>
		</div>
	  <div class="price-position d-flex justify-content-center">
	    <h4 class="price-simu bg-secondary text-white"><%= @full_simulation.total_cost_saved %>€</h4><br>
    </div>
    <div class="content">
			<p>Regardons de près:</p>
		</div>
	</div>
	<div id="simulation-list" class="container">
		<% if @full_simulation.only_one_gas_simulation %>
			<div class="accordion container">
		    <div class="card card-sm card-body shadow-sm border-soft border">
	        <div data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
	          <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-burn"></i><%= @full_simulation.gas_simulation.name %></span>
	          <span class="icon"><i class="fas fa-plus"></i></span>
	        </div>
	        <div class="collapse" id="panel-1">
	          <div class="pt-3">
              <p class="mb-0">
                  Vous pouvez économiser <strong><%= @full_simulation.gas_simulation.gas_cost_saved %>€</strong>
              </p>
              <%=link_to 'Voir en détails', admin_gas_simulation_path(@full_simulation.gas_simulation) %>
            </div>
	        </div>
		    </div>
		   </div>
    <% end %>
		<% if @full_simulation.only_one_ele_simulation %>
			<div class="accordion container">
				<div class="card card-sm card-body shadow-sm border-soft border">
					<div data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
						<span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-bolt"></i><%= @full_simulation.ele_simulation.name %></span>
						<span class="icon"><i class="fas fa-plus"></i></span>
					</div>
					<div class="collapse" id="panel-2">
						<div class="pt-3">
							<p class="mb-0">
									Vous pouvez économiser <strong><%= @full_simulation.ele_simulation.ele_cost_saved %>€</strong>
							</p>
							<%=link_to 'Voir en détails', admin_ele_simulation_path(@full_simulation.ele_simulation) %>
						</div>
					</div>
				</div>
			 </div>
		<% end %>
		<% if @full_simulation.only_one_box_simulation %>
			<div class="accordion container">
		    <div class="card card-sm card-body shadow-sm border-soft border">
	        <div data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
	          <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-signal"></i><%= @full_simulation.box_simulation.name %></span>
	          <span class="icon"><i class="fas fa-plus"></i></span>
	        </div>
	        <div class="collapse" id="panel-3">
	          <div class="pt-3">
              <p class="mb-0">
                  Vous pouvez économiser <strong><%= @full_simulation.box_simulation.box_cost_saved %>€</strong>
              </p>
              <%=link_to 'Voir en détails', admin_box_simulation_path(@full_simulation.box_simulation) %>
            </div>
	        </div>
		    </div>
		   </div>
    <% end %>

    <% if @full_simulation.only_one_mobil_simulation %>
      <div class="accordion container">
        <div class="card card-sm card-body shadow-sm border-soft border">
          <div data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
            <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fas fa-mobile-alt"></i><%= @full_simulation.mobil_simulation.name %></span>
            <span class="icon"><i class="fas fa-plus"></i></span>
          </div>
          <div class="collapse" id="panel-4">
            <div class="pt-3">
              <p class="mb-0">
                Vous pouvez économiser <strong><%= @full_simulation.mobil_simulation.mobil_cost_saved %>€</strong>
              </p>
              <%=link_to 'Voir en détails', admin_mobil_simulation_path(@full_simulation.mobil_simulation) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @full_simulation.only_one_bank_simulation %>
      <div class="accordion container">
        <div class="card card-sm card-body shadow-sm border-soft border">
          <div data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
            <span class="icon-title h6 mb-0 font-weight-bold"><i class="fas fa-money-check-alt"></i><%= @full_simulation.bank_simulation.name %></span>
            <span class="icon"><i class="fas fa-plus"></i></span>
          </div>
          <div class="collapse" id="panel-5">
            <div class="pt-3">
              <p class="mb-0">
                Vous pouvez économiser <strong><%= @full_simulation.bank_simulation.bank_cost_saved %>€</strong>
              </p>
              <%=link_to 'Voir en détails', admin_bank_simulation_path(@full_simulation.bank_simulation) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
	</div>


<%= render partial: 'shared/back' %>
