<div class="profile-section">
  <div class="row">
    <div class="col-md-3">
      <h2 class="profile-title"><strong>User N°<%=@user.id %> Profile</strong></h2>
    </div>
    <div class="col-md-9">
      <dl>
        <dt>Email</dt>
        <dl><%=@user.email %></dl>
        <dt>First name</dt>
        <dl><%=@user.first_name %></dl>
        <dt>Last name</dt>
        <dl><%=@user.last_name %></dl>
        <dt>Phone Number</dt>
        <dl><%=@user.phone_number %></dl>
        <dt>Admin ?</dt>
        <dl><%=@user.is_admin %></dl>
        <br>
        <%= link_to "Edit the profile", edit_admin_user_path(@user), class: "btn btn-success"%>
      </dl>
    </div>
  </div>
</div>

<div class="simulation-section">
  <div class="row">
    <div class="col-md-3">
      <h2><strong>Simulations non validated</strong></h2>
    </div>
    <div class="col-md-9">
      <table class="table table-striped table-sm table-admin">
        <thead>
        <tr>
          <th>Id</th>
          <th>Total cost saved</th>
          <th>Created_at</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <%@full_sim_non_valid.each do |full_sim| %>
          <tr>
            <th><%=full_sim.id %></th>
            <th><%=full_sim.total_cost_saved %></th>
            <th><%=full_sim.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2><strong>Simulations validated</strong></h2>
    </div>
    <div class="col-md-9">
      <table class="table table-striped table-sm table-admin">
        <thead>
        <tr>
          <th>Id</th>
          <th>Total cost saved</th>
          <th>Created_at</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <%@full_sim_valid.each do |full_sim| %>
          <tr>
            <th><%=full_sim.id %></th>
            <th><%=full_sim.total_cost_saved %></th>
            <th><%=full_sim.created_at %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>