<div class="profile-section">
  <div class="row">
    <div class="col-md-3">
      <h2 class="profile-title"><strong>User N°<%=@user.id %> Profile</strong></h2>
    </div>
    <div class="col-md-9">
      <dl>
        <dt>Email</dt>
        <dl><%=@user.email %></dl>
        <dt>First name</dt>
        <dl><%=@user.first_name %></dl>
        <dt>Last name</dt>
        <dl><%=@user.last_name %></dl>
        <dt>Phone Number</dt>
        <dl><%=@user.phone_number %></dl>
        <dt>Admin ?</dt>
        <dl><%=@user.is_admin %></dl>
        <br>
        <%= link_to "Edit the profile", edit_admin_user_path(@user), class: "btn btn-success"%>
        <td><%= link_to 'Destroy',admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </dl>
    </div>
  </div>
</div>

<div class="simu-section-top container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 simu-title">
      <h2><strong>Simulations non validated</strong></h2>
    </div>
    <div class="col-md-10">
      <table class="table table-responsive-sm table-striped" id="table-non-validated">
        <thead class="bg-primary text-white">
        <tr>
          <th scope="col" style="width: 30%;">Created</th>
          <th scope="col" style="width: 30%;">Updated</th>
          <th scope="col" style="width: 40%;">Tested categories</th>
        </tr>
        </thead>
        <tbody>
        <%@full_sim_non_valid.each do |full_sim| %>
          <tr>
            <td><%= full_sim.created_at.to_formatted_s(:short) %></td>
            <td><%= full_sim.updated_at.to_formatted_s(:short) %></td>
            <td><%= full_sim.counter %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="simu-section-bottom container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 simu-title">
      <h2><strong>Simulations validated</strong></h2>
    </div>
    <div class="col-md-10">
      <table class="table table-responsive-sm table-striped" id="table-validated">
        <thead class="bg-primary text-white">
        <tr>
          <th scope="col" style="width: 20%;">Savings</th>
          <th scope="col" style="width: 40%;">Validated date</th>
          <th scope="col" style="width: 30%;">Tested categories</th>
          <th colspan="3" style="width: 20%;" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
          <%@full_sim_valid.each do |full_sim| %>
        <tr>
            <td><%=full_sim.total_cost_saved %></td>
            <td><%= full_sim.created_at.to_formatted_s(:short) %></td>
            <td><%= full_sim.updated_at.to_formatted_s(:short) %></td>
            <td><%= full_sim.counter %></td>
            <td><%=link_to 'Show', admin_full_simulation_path( full_sim), class: 'btn btn-primary' %></td>
        </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
