<h1>Energies#new</h1>
<p>Find me in app/views/energies/show.html.erb</p>

<div>
	<% if @full_simulation.only_one_gas_simulation %>
    <%=button_tag 'Gaz', class:'btn btn-primary disabled', style:'cursor:not-allowed' %>
    <%=button_tag 'Electricité', class:'btn btn-primary disabled', style:'cursor:not-allowed' %>
	<% else %>
		<%=link_to "Gas", new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: "btn btn-primary"%>
    <%=button_tag 'Electricité', class:'btn btn-primary disabled', style:'cursor:not-allowed' %>
	<% end %>
</div>

<div>
	<%= link_to "Back", :back %>
</div>



<%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-gas btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
		<div class="d-flex justify-content-around align-items-center text-white">
			<span class="icon"><i class="fas fa-burn"></i></span>
			<h5 class="mt-4">Gaz</h5>
		</div>
	<% end %>


<%= link_to new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-gas btn-simu btn btn-secondary' do %>
		<div class="d-flex justify-content-around align-items-center text-white">
			<span class="icon"><i class="fas fa-burn"></i></span>
			<h5 class="mt-4">Gaz</h5>
		</div>
	<% end %>


<%= button_tag new_user_full_simulation_gas_simulation_path(current_user, @full_simulation), class: 'btn-simu-elec btn-simu btn btn-secondary disabled', style:'cursor:not-allowed' do %>
	<div class="d-flex justify-content-around align-items-center text-white">
		<span class="icon"><i class="fas fa-bolt"></i></span>
		<h5 class="mt-4">Electricité</h5>
	</div>
<% end %>

