<footer class="page-footer font-small text-white bg-primary pt-4">
  <div id="footer" class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3 contact-section">
        <h3 class="text-uppercase contact-title">Contact</h3>
        <div class="contact-info">
          <p>Adresse: <%= link_to "adresse" %> <br>Email: <%= link_to "point@pointbudget.fr" %> <br> Tel: <%= link_to "+33 3 33 33 33 33" %>
          </p>
        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3 d-flex align-items-center icon-section">
        <div class="contact-icons">
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a class="fb-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <%= link_to "Haut de page", {:anchor => "navbar"} %>
          </li>
          <li>
            <%= link_to "Se connecter", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Espace Presse" %>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3 link-section">
        <ul class="list-unstyled">
          <li>
            <%= link_to "Nos partenaires" %>
          </li>
          <li>
            <%= link_to "Conditions générales" %>
          </li>
          <li>
            <%= link_to "Politique de confidentialité" %>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="https://mdbootstrap.com/education/bootstrap/"></a>
  </div>
</footer>




