<footer class="page-footer font-small text-white bg-primary pt-4">
  <div id="footer" class="container text-center">
    <div class="row justify-content-between">

<!--      CONTACT SECTION-->
      <div class="col-md-3 mb-md-0 mb-3 ">
        <h3 class="text-uppercase text-md-left text-sm-center">Contact</h3>
        <div class="d-flex flex-column justify-content-end align-items-md-start text-sm-center align-items-sm-center">
          <div >
            Adresse: <%= link_to "adresse" %>
          </div>
          <div>
            Email: <%=mail_to 'pointbudget@hotmail.com'%>
          </div>
          <div>
            Tel: <%= link_to "+33606849288","tel:+33606849288" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3 d-flex justify-content-start align-items-end justify-content-sm-center" >
        <!--                FACEBOOK-->
        <%= link_to "#", class:'fb-ic mr-3' do %>
          <i class=" fa-2x fa-facebook-f fa-lg fab white-text"> </i>
        <% end %>
        <!--                INSTAGRAM-->
        <%= link_to "#", class:'fb-ic mr-3' do %>
          <i class="fab fa-instagram fa-lg white-text fa-2x"></i>
        <% end %>
        <!--                 LINKEDIN-->
        <%= link_to "#", class:'fb-ic mr-3' do %>
          <i class="fab fa-linkedin-in fa-lg white-text fa-2x"></i>
        <% end %>

        <!--                TWITTER-->
        <%= link_to "#", class:'fb-ic mr-3' do %>
          <i class="fab fa-twitter fa-lg white-text fa-2x"></i>
        <% end %>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3 d-flex flex-column justify-content-end">
        <ul class="list-unstyled text-md-right mb-0 text-sm-center">
          <li>
            <%= link_to "Haut de page", {:anchor => "navbar"} %>
          </li>
          <li>
            <%= link_to "Se connecter", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Espace Presse" %>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3  d-flex flex-column justify-content-end">
        <ul class="list-unstyled text-md-right mb-0 text-sm-center" >
          <li>
            <%= link_to "Nos partenaires" %>
          </li>
          <li>
            <%= link_to "Conditions générales" %>
          </li>
          <li>
            <%= link_to "Politique de confidentialité" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 mt-5">© 2019 Copyright
    <a href="https://mdbootstrap.com/education/bootstrap/"></a>
  </div>
</footer>




