<footer class="page-footer font-small text-white bg-primary pt-5">
  <div id="footer" class="container text-center">
    <div class="row justify-content-between">

<!--      CONTACT SECTION-->
      <div class="col-md-4 mb-md-0 mb-4 ">
        <h3 class="text-uppercase text-md-left text-center">Contact</h3>
        <div class="d-flex flex-column justify-content-end align-items-md-start text-md-left text-center align-items-sm-center">
          <div >
            Adresse: <br> 10 rue Jules Blaizet CHENOVE 21300
          </div>
          <div>
            Email: <%=mail_to 'pointbudget@hotmail.com'%>
          </div>
          <div>
            Tel: <%= link_to "+33652680080","tel:+33652680080" %>
          </div>
        </div>
      </div>



<!--      NAVIGATION SECTION-->
      <div class="col-md-4 mb-md-0 mb-4 d-flex flex-column justify-content-end align-items-center logs-button">
        <ul class="list-unstyled text-md-left mb-0 text-sm-center">
          <li>
            <%= link_to "Haut de page", {:anchor => "navbar"} %>
          </li>
          <li>
            <%= link_to "Se connecter", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Espace Presse" %>
          </li>
        </ul>
      </div>

<!--      OTHER LINKS-->
      <div class="col-md-4 mb-md-0 mb-4 d-flex flex-column justify-content-end align-items-md-end align-items-center">
        <ul class="list-unstyled text-md-right mb-0 text-sm-center" >
          <li>
            <%= link_to "Nos partenaires" %>
          </li>
          <li>
            <%= link_to "Conditions générales" %>
          </li>
          <li>
            <%= link_to "Politique de confidentialité" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <!--      SOCIAL NETWORKS-->
  <div class="row justify-content-between mt-3">
    <div class="col-md-4 mb-md-0 mb-4 d-flex flex-column justify-content-end"></div>
    <div class="col-md-4 mb-md-0 mb-4 d-flex align-items-md-end justify-content-center justify-content-md-around align-items-center my-sm-4" >


      <!--                FACEBOOK-->
<!--      <div>-->
        <%#= link_to "#", class:'fb-ic mr-3' do %>
<!--          <i class=" fa-2x fa-facebook-f fa-lg fab white-text"> </i>-->
        <%# end %>
<!--      </div>-->
      <!--                INSTAGRAM-->
      <div>
        <%= link_to "https://www.instagram.com/pointbudget/", class:'fb-ic mr-3' do %>
          <i class="fab fa-instagram fa-lg white-text fa-2x"></i>
        <% end %>
      </div>
      <!--                 LINKEDIN-->
      <div>
        <%= link_to "https://www.linkedin.com/in/benjamin-vaissac-20b930193/", class:'fb-ic mr-3' do %>
          <i class="fab fa-linkedin-in fa-lg white-text fa-2x"></i>
        <% end %>
      </div>

      <!--                TWITTER-->
      <div>
        <%= link_to "https://twitter.com/VaissacB", class:'fb-ic mr-3' do %>
          <i class="fab fa-twitter fa-lg white-text fa-2x"></i>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-4 d-flex flex-column justify-content-end"></div>
  </div>
  <div class="footer-copyright text-center py-3 mt-3">© 2019 Copyright
  </div>
</footer>




