

<footer class="page-footer font-small text-white bg-primary pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase contact-title">Contact</h5>
        <div class="contact-info">
          <p>point@pointbudget.fr</p>
          <p>+33 3 33 33 33 33</p>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Réseaux sociaux</h5>
        <ul class="list-unstyled">
          <li>
            <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          </li>
          <li>
            <%= link_to "Se connecter/Se déconnecter", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Mentions légales" %>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <%= link_to "A propos", static_pages_about_path %>
          </li>
          <li>
            <%= link_to "Se connecter/Se déconnecter", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Mentions légales" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>



