<!DOCTYPE html>
<html>
  <head>
    <title>PointBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%unless is_admin? %>
      <%= render 'layouts/navbar' %>
    <%end %>
    <%= render 'layouts/flash'%>
  </header>

    <%if is_admin? %>
    <body>
      <%= render 'layouts/admin_navbar' %>
    <% elsif user_signed_in? %>
      <body class="d-flex flex-column justify-content-between">
      <%= render 'layouts/user_navbar' %>
    <%else %>
    <body class="d-flex flex-column justify-content-between">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%end %>
    </body>
</html>
