<!DOCTYPE html>
<html>
  <head>
    <title>PointBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :page_specific_js, action: action_name, controller:controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%=content_tag :body, data:{action: action_name, controller:controller_name} do %>

  <header>
    <%unless admin? %>
      <%= render 'layouts/navbar' %>
    <%end %>
  </header>

  <body class="d-flex flex-column justify-content-between">
     <%= render 'layouts/flash'%>

    <%if admin? %>
      <%= render 'layouts/admin_navbar' %>
    <% elsif user_signed_in? %>
      <%= render 'layouts/user_navbar' %>
    <%else %>
      <%= yield %>
    <%end %>
      <%= render 'layouts/footer' %>
      </body>
  <% end %>
</html>
